<!-- replace 7FBF4D with e7613e-->
<div data-role="view" id="single-activity-user" data-layout="innerActivity" class="activity-view"  data-init="app.Activity.init"  data-show="app.Activity.show" data-before-show="app.Activity.befShow" data-model="app.Activity" data-reload="true" data-use-native-scrolling="true">
    <div data-role="header">
        <div data-role="navbar">
            Message
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.Activity.goToBackPage"></a>
        </div>
    </div>   
    <div id="status-container" class="user-status-wrp cf" data-role="listview" data-style="inset">
        <div>
            <div class="notiList-content">
                <div class="dateDisplay">
                    <span id="notiDate" class="dateValue">${date}</span>
                    <span></span>
                </div>
                <br/>
                <li id="titleContainer">
                    <h2 id="personName" class="notiNameList" style="margin-left:0px;"></h2>
                    <span id="activityText" data-bind="text: message" class="user-share-txt"></span>
                </li>
            </div>
            <br/>         
            <div id="notiImageDiv" style="max-height:300px;display:none;">
                <a id="notiImage" data-role="button" data-click="app.Activity.storeImageClick" style="min-height:100px;min-width:100px;padding:0px;background:transparent;border:none;"></a>               
            </div>            
            <div  id="notiDetailVid"  style="display:none;">
                 <img src="styles/images/video.png" style="width:300px;"/>                   
            </div>
        </div>
   
        <div id="commentListContainer" >
            <div class="comments-wrp">
                <ul id="comments-listview" data-template="commentsTemplate" ></ul>
            </div>
        </div>        
    </div>

    <div id="commentPanel" data-role="footer" style="background-color:#e7613e;padding:3px;padding-bottom:3px;padding-top:6px;">
        <div style="display:inline;">
            <div style="float:left;width:86%;border-radius:6px;border:none;bacground-color:#ffffff">
               <textarea class="replyTextArea" id="newComment" placeholder="Reply" style="padding:7px 5px 0px 5px;margin-left:5px;border-radius:6px;border:none;"></textarea>
            </div>
            <a style="background:transparent; border:none;float:right;" class="arrowBTN" data-icon="action" data-align="right" data-role="button" data-bind="click: saveComment"></a>
        </div>
    </div>
    
</div>

<script type="text/x-kendo-template" id="commentsTemplate">
    # if (user_type !== 'Customer') { # 
        <div class="admin-comment-List">
         <div class="admin-comment-content">
            <a>${comment}</a>
            <span class="admin-time-span">${add_date} ${add_time}</span>
         </div>
        </div>
    # }else { #
        <div class="user-comment-List" id="userCommentContainer">
          <div class="user-comment-content">
            <a>${comment}</a>
            <span class="user-time-span">${add_date} ${add_time}</span>
          </div>
        </div>        
    # } #
</script>