<!--replace rgb(127,191,77); with #e7613e-->
<div data-role="view" id="adminOrgNewsList" data-id="innerActivity" data-layout="default" class="activities-view-info"  data-model="app.adminNews" data-show ="app.adminNews.show" data-use-native-scrolling="true">
    <div data-role="header">
        <div data-role="navbar">
            <span> News </span>
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.adminNews.goToManageOrgPage"></a>
            <a style="background:transparent; border:none;" data-icon="add" data-align="right" data-role="button" data-click="app.adminNews.goToAddNewsPage"></a>
        </div>
    </div>
    <span id="orgAllNewsList" data-style="inset" data-role="listview" data-template="newsListTemplate" data-bind="source: activities"></span>
    <div id="showMoreEventBtnNews" class="showMore" data-role="button" data-click="app.adminNews.showMoreButtonPress">LOAD MORE</div>
</div>

<script type="text/x-kendo-template" id="newsListTemplate" >                        
    #if (id!==0) {#
<div class="cf" data-role="touch" data-bind="events: { tap: getDataToPost }">
    <div class="notiList-content-new">
        <div class="dateDisplay">
            <span id="activityTemplateDate" class="dateValue">${news_date} , ${news_time}</span>
            <span class="shareDataValue">
                <a style="background:transparent; border:none;float:right;right:0;margin-right:0px;" data-align="right" data-role="button" data-click="app.shareMsgContent">
                    <img src="styles/images/share.png"/>
                </a>
            </span>
        </div>
        <br/>
        <a id="activityTemplateMessage" class="orgContentMsg">#= news_desc #</a>                 
        #if (news_image!=='' && news_image!=='0' && upload_type==="image") {#
            <br/>
            <br/>
            <div class="imageViewContainer">
                <img src= ${news_image}  class="imageViewClassAdm" onerror="this.onerror=null;this.src='';"/>                
            </div>
        #}else if (news_image!=='' && news_image!=='0' && upload_type==="video") {#          
            <br/>
            <div>
                <img src="styles/images/video.png" style="width:100%;margin-top:10px;max-height:250px;"/>
            </div>
        #}#
    </div>
    <div class="notiListbelow-List" data-role="touch" data-bind="events: { tap: editNews }">
        <div class="notiNewsEditIcon"></div>
        <a id="activityTemplateMessage" class="notiListComment">Edit</a>
    </div>
</div>   
    #}else {#
<div class="cf">
    <div class="no-notiList-content-new">
        <div id="activityTemplateTitle" class="HeadingClass">No News</div>
        <a id="activityTemplateMessage" class="orgContentMsg" style="color:rgb(147,147,147);" >#= news_desc #</a>
    </div>
</div>                            
    #}#
    
</script>
            
<div data-role="view" id="adminAddNews" data-id="innerActivity" data-layout="default" class="form-view"  data-model="app.adminNews" data-show ="app.adminNews.addNewsshow" data-use-native-scrolling="true">
    <div data-role="header">
        <div data-role="navbar">
            <span> Add News </span>
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.adminNews.goToNewsListPage"></a>
            <a style="width:2.8em;height:3em;margin-top:2px; border: 0 none;  background-position: 0 50%;background-color: transparent;margin-right:-10px;" data-align="right" data-role="button" data-rel="actionsheet" href="#newsImgSelect">
                <img src="styles/images/attachment.png" style="background-position: .65em 50%;width:90%;height:90%"/>
            </a>
            <a style="background:transparent; border:none;font-weight:800;margin-top:-1px;" data-align="right" data-role="button" data-click="app.adminNews.addNewNewsFunction">Save</a>
        </div>
    </div>
    <div data-role="content">
        <div id="enterNotification" class="textWithTextArea" >
            <span id="activityTemplateDate"  class="defineTitleText">News</span>
            <textarea  id="addNewsDesc" placeholder="Please Enter News Here" class="common"></textarea>
            <br/>
            <label style="margin:10px 0px 10px 0px;color:#e7613e">
                <span>Select Group to Add News</span>
                <select id="groupInAddNews"  multiple ></select>
            </label>
            <br/>
            <span id="activityTemplateDate" class="defineTitleText">Event Date & Time </span>
            <!--<ul data-style="inset" data-role="listview" style="margin-left:0px;margin-right:0px;">
                <li style="display:inline">
                    <input id="adddatePickerNews" onkeydown="return false;" style="float:left;"/>
                    <input id="adddateTimePickerNews" onkeydown="return false;" style="float:right;"/>
                </li>
            </ul>-->

            <br/>
            <div style="display:inline">
                    <input id="adddatePickerNews" type="date"  style="float:left;" class="dataTimeCls"/> 
                    <input id="adddateTimePickerNews" type="time" value="10:00" style="float:right;" class="dataTimeCls"/>
            </div>
            <br/>
            <br/>
            <br/>

            <div id="newsAttachment">
                <div style="display:inline;">
                    <img id="attachedImgNews" class="attachBackgroundImgShow"  style="display:none;border: 5px solid #cccccc;"/>
                    <div style="width:180px,height:150px;">
                        <img id="attachedVidNews" src="" alt="" align="right"  style="margin-top:10px;height:150px;width:180px;float:left;border:none;display:none"/>
                    </div>
                </div>
                <ul data-role="actionsheet" id="newsImgSelect">
                    <li class="km-actionsheet-title"></li>
                    <li>
                        <a href="#" data-role="button" data-bind="click: getTakePhoto" style="text-align:left;">
                            <span class="act_photo"></span><span style="margin-top:-20px;">Photo</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-role="button" data-bind="click: getPhotoVal" style="text-align:left;">
                            <span class="act_gallery"></span><span style="margin-top:-20px;">Gallery</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-role="button" data-bind="click: getVideoVal" style="text-align:left;">
                            <span class="act_video"></span><span style="margin-top:-20px;">Video</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-role="button" data-bind="click: removeImage" style="text-align:left;">
                            <span class="act_close"></span><span style="margin-top:-20px;">Remove</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="tabstrip-upload-file" class="modal-mess-Popup" data-role="modalview" data-model="app.adminNews">
    <span style="position:absolute;font-weight:bold;font-size:20px;color:#e7613e;margin-top:28px;margin-left:-6px;" data-bind="click:transferFileAbort">X</span>
    <div id="imgDownloaderNews" style="margin:5px;width:60px;height:60px;margin:10px;"></div>
</div>
            
<div data-role="view" id="adminEditNews" data-id="innerActivity" data-layout="default" class="form-view"  data-model="app.adminNews" data-show ="app.adminNews.editNewsshow" data-use-native-scrolling="true">
    <div data-role="header">
        <div data-role="navbar">
            <span> Edit News </span>
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.adminNews.goToNewsListPage"></a>
            <a style="width:2.8em;height:3em;margin-top:2px; border: 0 none;  background-position: 0 50%;background-color: transparent;" data-align="right" data-role="button" data-rel="actionsheet" href="#newsEditImgSelect">
                <img src="styles/images/attachment.png" style="background-position: .65em 50%;width:90%;height:90%"/>
            </a>
            <a style="width: 3.4em;height:2.8em;margin-top:2px; border: 0 none;  background-position: 0 50%;background-color: transparent;" data-align="right" data-role="button" href="#popover-editNews" data-rel="popover">
                <img src="styles/images/nav.png" style="background-position: .65em 50%;width:100%;height:90%"/>
            </a>
        </div>
    </div>
    <div data-role="content" id="wrappe_news">
        <div id="enterNotification" class="textWithTextArea">
            
            <span id="activityTemplateDate"  class="defineTitleText" >News</span>
            <textarea  id="editNewsDesc" placeholder="Please Enter News Here" class="commonEdit"></textarea>
            
            <label style="margin:10px 0px 10px 0px;color:#e7613e">
                <span>Selected Group</span>
                <select id="groupInEditNews"  multiple></select>
            </label>
                
            <span id="activityTemplateDate" class="defineTitleText">Event Date & Time </span>
                    
            <!--<ul data-style="inset" data-role="listview" style="margin-left:0px;margin-right:0px;">
                <li style="display:inline">
                    <input id="editdatePickerNews" onkeydown="return false;" style="float:left;"/>
                    <input id="editdateTimePickerNews" onkeydown="return false;" style="float:right;"/>
                </li>
            </ul>-->
            
            <br/>
            <div style="display:inline">
                    <input id="editdatePickerNews" type="date"  style="float:left;" class="dataTimeCls"/> 
                    <input id="editdateTimePickerNews" type="time" value="10:00" style="float:right;" class="dataTimeCls"/>
            </div>
            <br/>
            <br/>
            
        </div>
                
        <div id="newsAttachment" style="margin-left:10px;">
            <div>
                <img id="attachedImgEditNews" class="attachBackgroundImgShow"  style="display:none;border: 5px solid #cccccc;"/>
                <img id="attachedVidNewsEdit" style="margin-top:10px;height150px;width:180px;float:left;border:none;display:none"/>
            </div>
            <ul data-role="actionsheet" id="newsEditImgSelect">
                <li class="km-actionsheet-title"></li>
                <li>
                    <a href="#" data-role="button" data-bind="click: getTakePhotoEdit" style="text-align:left;">
                        <span class="act_photo"></span><span style="margin-top:-20px;">Photo</span>
                    </a>
                </li>
                <li>
                    <a href="#" data-role="button" data-bind="click: getPhotoValEdit" style="text-align:left;">
                        <span class="act_gallery"></span><span style="margin-top:-20px;">Gallery</span>
                    </a>
                </li>
                <li>
                    <a href="#" data-role="button" data-bind="click: getVideoValEdit" style="text-align:left;">
                        <span class="act_video"></span><span style="margin-top:-20px;">Video</span>
                    </a>
                </li>
                <li>
                    <a href="#" data-role="button" data-bind="click: removeImageEdit" style="text-align:left;">
                        <span class="act_close"></span><span style="margin-top:-20px;">Remove</span>
                    </a>
                </li>
        
            </ul>
        </div>
                    
        <div data-role="popover" id="popover-editNews" data-popup='{"width": "180"}' style="position:relative;margin-right:-10px;margin-top:-12px;border-radius:0px 0px 3px 3px;z-index:100;box-shadow: 0px 4px 10px 1px #D1D1D1;">
            <div data-role="view">
                <ul data-role="listview" style="margin:0px;background-color:#ffffff;z-index:1;">
                    <a style="width:100%;background:transparent;margin:0px 0px -3px 0px;border-radius:0px;padding:0px;border:none;" data-role="button" data-click="app.adminNews.saveEditNewsData">
                        <label style="float:left;padding:10px;">Save News</label>
                    </a>
                    <a style="width:100%;background:transparent;margin:0px 0px -3px 0px;border-radius:0px;border:none;padding:0px;" data-role="button" data-click="app.adminNews.deleteNews">
                        <label style="float:left;padding:10px;">Delete News</label>
                    </a>
                </ul>
            </div>
        </div>
    
        <br/>
        <br/>

    </div>
</div>