<div data-role="view" id="connectToUsWindow" data-layout="innerActivity" class="activity-view"  data-init="app.connectToUsWindow.init"  data-show="app.connectToUsWindow.show" data-model="app.connectToUsWindow" data-reload="true" data-use-native-scrolling="true">
    <div data-role="header">
        <div data-role="navbar">
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.connectToUsWindow.goToBackPage"></a>
            <!--<span style="float:left;margin-left:50px;"><img src="styles\images\avatar1.png" width="25px" height="25px" style="margin-bottom:-5px;"/><span id="admNameShow" style="margin-left:10px;">Message</span></span>-->
            <span><span id="admNameShow" style="margin-left:10px;">Message</span></span>
            <a style="width:2.8em;height:3em;margin-top:2px; border: 0 none;  background-position: 0 50%;background-color: transparent;" data-align="right" data-role="button" data-rel="popover" href="#popover-connect2us" ><img src="styles/images/attachment.png" style="background-position: .65em 50%;width:90%;height:90%"/></a>
        </div>
    </div>
    <div class="loader" id="connectUsWinLoader" style="display:none;">
            <div class="ball"></div>
    </div>    
    <div id="status-container" class="user-status-wrp cf" data-role="listview" data-style="inset">        
        <div id="oneToOneListContainer" >
            <div class="comments-wrp">
                <ul id="oneToOneChat-listview" data-template="oneToOneChatTemplate"></ul>
            </div>
        </div>
    </div>
    <div id="otoCommentPanel" data-role="footer" style="background-color:#7FBF4D;padding:3px;padding-bottom:3px;padding-top:6px;">
        <div style="display:inline;">
            <div style="float:left;width:86%;border-radius:6px;border:none;background-color:#ffffff">
               <textarea class="replyTextArea" id="otoNewComment" placeholder="Type a message" style="padding:7px 5px 0px 5px;margin-left:5px;border-radius:6px;border:none;"></textarea>
            </div>
            <a style="background:transparent; border:none;float:right;" class="arrowBTN" data-icon="action" data-align="right" data-role="button" data-bind="click: saveoToComment"></a>
        </div>
    </div>    
    
    <div data-role="popover" id="popover-connect2us" data-popup='{"width": "150"}' style="margin-right:-10px;margin-top:-14px;border-radius:3px;">
        <div data-role="view">
            <ul data-role="listview" style="margin:0px;background-color:#E6E6E6;z-index:1;">
                <a style="width:100%;background:transparent;margin:0px 0px -3px 0px;border-radius:0px;padding:0px;border:none;" data-role="button" data-click="app.connectToUsWindow.getTakePhoto"><label style="float:left;padding:10px;">Take Photo</label></a>
                <a style="width:100%;background:transparent;margin:0px 0px -3px 0px;border-radius:0px;border:none;padding:0px;" data-role="button" data-click="app.connectToUsWindow.getPhotoVal"><label style="float:left;padding:10px;">Album</label></a>
            </ul>
        </div>
    </div>
</div>

<div id="connect-upload-file" class="modal-mess-Popup" data-role="modalview" data-model="app.connectToUsWindow">
    <span style="position:absolute;font-weight:bold;font-size:20px;color:#7FBF4D;margin-top:28px;margin-left:-6px;" data-bind="click:transferFileAbort">X</span>
    <div id="imgDownloaderConnect" style="margin:5px;width:60px;height:60px;margin:10px;"></div>    
</div>

<div data-role="modalview" id="modelViewPhotoVerify" style="width:96%;height:80%;">
    <div data-role="header" style="background-color:rgb(204,204,204);height:40px;">
         <div style="margin:10px;float:left;font-size:20px;color:rgb(255,255,255)"> Send photo 
             <span id="#recName"></span>
         </div>
    </div>
    <div><img id="selectedImgByUser" style="width:100%;height:100%;"scr="" /></div>
    <div data-role="footer" style="background-color:rgb(204,204,204);height:45px;">
        <li style="margin:5px">
                <div data-role="button" data-click="app.connectToUsWindow.clickToCancelPhoto" style="float:left;margin-left:10px;width:46%;">Cancel</div>
                <div data-role="button" data-click="app.connectToUsWindow.sendPhotoToLive" style="float:right;margin-right:10px;width:46%;">Send</div>
        </li>    
    </div>
</div>


<script type="text/x-kendo-template" id="oneToOneChatTemplate">

    # if (sender !== account_Id) { # 
        <div class="admin-oneTone-List">         
            #if(type==='image'){#
             <div class="admin-oneTone-Imgcontent">
                 <a><img src=${comment} style="width:180px;height:180px;margin:0px;"/></a>
                 <br/>
                 <span class="admin-time-span">${add_date} ${add_time}</span>
             </div>  
            #}else{#
               <div class="admin-oneTone-content">
                  <a>${comment}</a>
                  <span class="admin-time-span">${add_date} ${add_time}</span>
               </div>  
            #}#            
        </div>
   #}else { #        
        <div class="user-oneTone-List" id="userCommentContainer">
            #if(type==='image'){#
               <div class="user-oneTone-Imgcontent">  
                   <a><img src=${comment} style="width:180px;height:180px;margin:0px;"/></a>
                    <br/>
                   <span class="user-time-span">${add_date} ${add_time}</span>
               </div>                
            #}else{#
                <div class="user-oneTone-content">  
                   <a>${comment}</a>
                   <span class="user-time-span">${add_date} ${add_time}</span>
                </div>
            #}# 
        </div>        
  # } #
</script>