<div data-role="view" id="editProfile" data-layout="default" class="activities-view" data-model="app.OragnisationList"
     data-show="app.OragnisationList.editProfileShow">
    <div data-role="header">
        <div data-role="navbar">
            Edit Profile
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="backbutton"></a>
            <a style="background:transparent; border:none;font-weight:bold;margin-top:8px;" data-align="right" data-role="button" data-click="app.OragnisationList.editProfileFunc">Save</a>

            <!--<a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callUserLogin"></a>-->

        </div>
    </div>
    <div>
        <!--<form>
            <ul data-role="listview" data-style="inset">
                <li class="username">
                    <input type="text"  id="editFirstName" placeholder="First Name" />
                </li>
                <li class="password">
                    <input type="text"  id="editLastName" placeholder="Last Name" />
                </li>
                <li class="password">
                    <input type="email" id="editEmail" placeholder="Email" />
                </li>
            </ul>
        </form>-->
        
        <form>
                    <div class="inputContainer">
                        <input id="editFirstName" required type="text">
                        <label alt="First Name" placeholder="First Name" data-info="First Name"></label>
                    </div>
                    
                    <div class="inputContainer">
                        <input id="editLastName" required type="text">
                        <label alt="Last Name" placeholder="Last Name" data-info="Last Name"></label>
                    </div>
                    
                    <div class="inputContainer">
                        <input id="editEmail" required type="text">
                        <label alt="Email" placeholder="Email" data-info="Email"></label>
                    </div>
        </form>
        
    </div>

    <!--<li id="registrationNextR" class="defineSaveButton" data-role="touch" data-bind="events: { tap: editProfileFunc }">
        Save

    </li>-->

</div> 