<!--8CAC7B with e7613e-->
<div data-role="view" id="forgetPasswordPage" data-layout="default" class="activities-view" data-model="app.adminLogin"
     data-show="app.adminLogin.forgetPassShow" data-use-native-scrolling="true">
    <div data-role="header">
        <div data-role="navbar">
            Forgot Password
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="backbutton"></a>
        </div>
    </div>
    
    <div class="loader" id="forgetPassLoader" style="display:none;">
        <div class="ball"></div>
    </div>

    <div>
        <p style="color:#e7613e; padding:10px 10px 10px 0px; text-align:left">To retrieve your password, please enter code sent to your number.</p>
        <ul data-role="listview" data-style="inset">
            <li class="username">
                <input type="number" pattern="[0-9]*" step="0.01"  id="userOTP" placeholder="Code" style="height:35px;" />
            </li>
        </ul>
    </div>
    <li class="defineSaveButton" data-role="touch" data-bind="events: { tap: changerPassword }">
        Next
    </li>
</div>


<div data-role="view" id="genrateNewPass" data-layout="default" class="activities-view" data-model="app.adminLogin"
     data-show="app.adminLogin.newPassShow" data-use-native-scrolling="true">
    <div data-role="header">
        <div data-role="navbar">
            Generate Password
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.adminLogin.goBackOrgLogin"></a>
        </div>
    </div>
    
        <div class="loader" id="changePassLoader" style="display:none;">
        <div class="ball"></div>
    </div>


    <div>
        <p style="color:#e7613e; padding:10px 10px 10px 0px;text-align:left"> Enter new password to change your password.</p>
        <ul data-role="listview" data-style="inset">
            <li class="username">
                <input type="password" id="newMobile" placeholder="New Password" />
            </li>
            
            <li class="username">
                <input type="password" id="renewMobile" placeholder="Confirm password" />
            </li>
        </ul>
    </div>
    <li class="defineSaveButton" data-role="touch" data-bind="events: { tap: saveChangerPassword }">
        Save
    </li>
</div>