<div data-role="view" id="replyedCustomerDivId" data-layout="innerActivity" class="activity-view"  data-init="app.replyedCustomer.init"  data-show="app.replyedCustomer.show" data-model="app.replyedCustomer" data-use-native-scrolling="true">
    <div data-role="header">
        <div data-role="navbar">
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="backbutton" ></a>
            <span>Message</span>
        </div>
    </div>    
    <div>
           <ul id="reply-customer-listview" data-role="listview"  data-template="replyCustomerTemplate" data-bind="source: replyedCustomer"></ul>
    </div>
</div>

 <script type="text/x-kendo-template" id="replyCustomerTemplate">        
       #if (customerID!==0) {#
               <div class="cf-clickEffect" data-role="touch" data-bind="events: { tap: customerSelected }">        
                <div class="user-avatar-img-show" style="margin-top:5px;margin-left:5px;"></div>    
                  <div class="activity-content" style="margin-left:0px;margin-top:-10px">
                    <h5 id="" class="person-name">${user_fname} ${user_lname}</h5>
                    <span>${add_date}</span>
                     <span>${totalCount}</span>
                    <span class="km-icon km-details" style="float:right;margin-top:-15px;"></span>                    
                    <div id=""  style="color:rgb(188,188,188);overflow:hidden;white-space: nowrap;text-overflow: ellipsis;margin-top:-10px;" >${comment}</div>
                  </div>
               </div>
       #}else {#
                <div class="cf" data-role="touch">
                    <div class="user-avatar-img-show"></div>
                    <div class="activity-content" style="margin-left:5px">
                        <h2 id="" class="person-name">${user_fname} ${user_lname}</h2>
                        <a id=""  style="color:rgb(188,188,188);" >${comment}</a>
                    </div>
                </div> 
       #}#    
 </script>