<div data-role="view" id="newsList" data-id="innerActivity" data-layout="default" class="activities-view-info" data-model="app.orgNews" data-show ="app.orgNews.show" data-use-native-scrolling="true">
    <div data-role="header">
        <div data-role="navbar">
            <span>News</span>
            <a id="idBackOrgNews" style="background:transparent; border:none;display:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.orgNews.gobackOrgPage"></a>
            <a id="idBackHomeNews" style="background:transparent; border:none;display:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.callUserLogin"></a>
        </div>
    </div>
    <span id="orgNewsList" data-style="inset" data-role="listview" data-template="orgNewsTemplate" data-bind="source: activities"></span>
    <div id="showMoreNewsBtn" class="showMore" data-role="button" data-click="app.orgNews.showMoreButtonPress">LOAD MORE</div>
</div>

<script type="text/x-kendo-template" id="orgNewsTemplate">
    <div class="cf" data-role="touch" data-bind="events: { tap: getDataToPost }">
        <div class="newsList-content-new">
            #if (id!==0) {#
                <div class="dateDisplay">
                    <span id="activityTemplateDate" class="dateValue">${news_date} ${news_time}</span>
                    <span class="shareDataValue">
                        <a style="background:transparent; border:none;float:right;right:0;margin-right:0px;" data-align="right" data-role="button" data-click="app.shareMsgContent">
                            <img src="styles/images/share.png"/>
                        </a>
                    </span>
                </div>
                <br/>
                <a id="activityTemplateMessage" class="orgContentMsg">#= news_desc #</a>            			                        
                #if (news_image!=='' && news_image!==0 && upload_type==="image") {#
                    <br/>
                    <br/>
                    <div class="imageViewContainer">
                        <a class="newsImgClick" style="width:100%;padding:0px;background:transparent;border:none;">
                            <div class="rotating progress" id="img_Div_Image_${id}" style="display:none;"></div>
                            <img src= ${news_image_show} id=${news_image}-----${id} onerror="this.onerror=null;this.src='';" class="imageViewClass"/>
                        </a>
                    </div>
                #}else if (news_image!=='' && news_image!=='0' && upload_type==="video") {#          
                    <br/>
                    <br/>
                    <a class="newsVidClick" style="width:100%;padding:0px;background:transparent;border:none;">
                        <div>
                            <div id="video_Div_Image_${id}" style="position:absolute;right:0;height:100%;left:0;display:none;">
                                <div class="videoDownload">
                                    <div class="innervideoDownload">
                                        <progress id="downloadPerNews_${id}"  value="0" max="100" class="downloadBar"></progress>
                                        <div class="progressValueClass">
                                            <span id="progressValueNews_${id}">0</span>%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="styles/images/video.png" alt=${news_image}-----${id} style="width:100%;max-height:250px;"/>
                        </div>
                    </a>   
                #}#            
            #}else {#   
                <div>
                    <div id="activityTemplateTitle" class="HeadingClass" >${news_name}</div>
                    <span  id="activityTemplateMessage"  style="color:rgb(147,147,147);padding-right:10px;text-align:justify;" >${news_desc}</span>
                </div>
            #}#
        </div>
    </div>

</script>