<!--green  red blue  #bbb 61B85C with #e7613e -->
<div data-role="view" id="profileDiv"  data-id="innerActivity" data-layout="default" class="activities-view" data-model="app.OragnisationList" data-init="app.OragnisationList.userProfileInt" data-show="app.OragnisationList.userProfileShow">
    <div data-role="header">
        <div data-role="navbar">
            <span>Profile</span>
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.callUserLogin"></a>
            <a style="background:transparent; border:none;font-weight:bold;margin-top:8px;" data-align="right" data-role="button" data-click="app.OragnisationList.editProfilePage">Edit</a>
        </div>
    </div>
    <div id="tabstrip-profile">
        <ul data-role="listview" id="profileContent" data-style="inset" data-type="group">
            <div style="vertical-align:middle; text-align:left;background-color:#f3f3f3;border-radius:3px 3px 0px 0px;">
                <a style="background:transparent; border:none;margin:0px;" data-role="button" data-align="center" href="#profilePicUpload" data-rel="actionsheet">
                    <img id="profilePhoto" src="styles/images/profile-img1.png" height="100px" width="100px" style="position:relative;border-radius:3px;background-size: cover;background-position: center center; background-repeat: no-repeat;" onerror="this.onerror = null;this.src = 'styles/images/profile-img1.png';"/>
                    <div class="profilePicBack" id="changePImgDiv">
                        <span style="z-index:1;text-align:center;">Change</span>
                    </div>
                </a>
            </div>
            <li style="margin-top:-15px;">
                <ul>
                    <li style="text-align:left;background-color:#f3f3f3;padding-left:10px">
                        <h2>
                            <span id="userfname"></span>
                        </h2>
                        <h2 >
                            <span id="userlname"></span>
                        </h2>
                    </li>
                    <li style="background-color:#f3f3f3;padding-left:10px;height:60px;">
                        Mobile No <br/><span class="sales-up" id="userMobileNo"></span>
                    </li>
                    <li id="emailToShow" style="background-color:#f3f3f3;padding-left:10px;height:60px;">
                        Email <br/><span class="sales-up" id="userEmailId"></span>
                    </li>
                </ul>
            </li>
            <br/>
            <div id="orgData" style="background-color:#f3f3f3;padding:10px;border-radius:3px;"> </div>
        </ul>
        <ul data-role="actionsheet" id="profilePicUpload">
            <li class="km-actionsheet-title">Choose an action</li>
            <li>
                <a href="#" data-role="button" data-bind="click: takeProfilePhoto" style="text-align:left;">
                    <span class="act_photo"></span><span style="margin-top:-20px;">Photo</span>
                </a>
            </li>
            <li>
                <a href="#" data-role="button" data-bind="click: selectProfilePhoto" style="text-align:left;">
                    <span class="act_gallery"></span><span style="margin-top:-20px;">Gallery</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<style scoped>
    #tabstrip-profile h2
    {
        display: inline-block;
        font-size: 1.1em;
        margin: 1.1em 0 0 .1em;
    }
    #tabstrip-profile h2 span
    {
        font-size: 1.3em;
    }
    #tabstrip-profile img
    {
            
                
    }
            
    .sales-down,
    .sales-hold,
    .sales-up,
    .value
    {
        float: left;
    }
    .sales-up { color: #e7613e; }
    .sales-down { color: #e7613e; }
    .sales-hold { color: #e7613e; }
    .value { color: #e7613e; }
</style>

<!-- style="border-bottom:2px solid #F0F0F0"-->
