<div data-role="view" id="single-activity" data-layout="innerActivity" class="activity-view"  data-init="app.Activity.init"  data-show="app.Activity.show" data-before-show="app.Activity.befShow">
    <div data-role="header">
        <div data-role="navbar">
            Notification
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">Back</a>
            <a class="nav-button nav-button-post" data-align="right" data-role="button" data-click="app.Activity.replyButton">Reply</a>
        </div>
    </div>
<!--data-bind="attr:{src: User().PictureUrl}" alt="styles/images/avatar.png"-->
    
    <div id="status-container" class="user-status-wrp cf" data-role="listview" data-style="inset">
        <div class="user-avatar">
            <img src="styles/images/notification1.png" />
        </div>
        <div class="activity-content">
            <h2 id="personName" class="person-name" data-bind='text:title'></h2>
            <!--<span id="activityDate" class="time-span" data-bind="text: CreatedAtFormatted"></span>-->
            <span id="activityText" data-bind="text: message" class="user-share-txt"></span>
            <!--<img id="picture" class="picture" data-bind="attr:{src: PictureUrl()}" width="100%"/>-->
            <div class="comments-wrp">
                <ul id="comments-listview" data-template="commentsTemplate"></ul>
            </div>
        </div>
    </div>
    
 <!--  
    <div data-role="footer">
        <div data-role="tabstrip">
            <a href="#tabstrip-profile" data-icon="contacts">Call Us
            </a><a href="#tabstrip-sales" data-icon="favorites">Website</a>
        </div>
   </div>
 -->   
</div>

<!-- Comments Template -->
<script type="text/x-kendo-template" id="commentsTemplate">
    <div class="comment-content">
        <h2 class="person-name">${User()}</h2>
        <span class="time-span">${CreatedAtFormatted()}</span>
        <a class="user-share-txt">${ReplyText}</a>
    </div>
</script>
