 <div data-role="view" id="view-all-activities" data-id="innerActivity" data-layout="innerPages" class="activities-view" data-model="app.Activities" data-init="app.Activities.init" data-show="app.Activities.show">            
       <div data-role="header">           
               <div data-role="navbar">           
                    Add Group
                   <a class="nav-button nav-button-back hide-text" data-align="left"  data-role="backbutton">Back</a>
    	     </div>
	    </div>
	
	 <div>
  		 <ul data-role="listview" data-style="inset">
                <li class="username"><input type="text" id="newGroup" placeholder="Enter New Group Name" required validationMessage="Username is required!" /></li>
           </ul>     
         
           <li>
                    <span id="login" data-role="touch" data-bind="events: { tap: addGroupFunc }" style="padding:10px;float:right;">
                        <a data-role="button" class="btn btn-login">Add Group</a>
                    </span>
           </li>
  
     </div> 
       
   
	</div> 