<div data-role="view" id="view-all-activities" data-layout="default" class="activities-view" data-model="app.Login"
     data-init="app.Login.forgetPassInit" data-show="app.Login.forgetPassInit" >
    <div data-role="header">
        <div data-role="navbar">
            Forget Password
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="button" data-bind="click:goToIndex">Back</a>
        </div>
    </div>
    
    <div>
        <p style="color:#1B205E; padding:10px;text-align:center">To Retrieve your password , please enter your email Id</p>
                <ul data-role="listview" data-style="inset">
                    <li class="username"><input type="email" class="k-textbox" id="forgetEmail" placeholder="Email" required validationMessage="Please Enter Email! " /></li>
                </ul>
    </div>  
               <ol class="reg-group-wrp">
                <li>
                    <span id="login" data-role="touch"  style="float:right;margin-left:10px;" data-bind="events: { tap: sendForgetMail }">
                        <a data-role="button" style="background-color:#33539E">Send</a>
                    </span>
                </li>
            </ol>


</div>
