<div data-role="view" id="sendNotificationDiv" data-id="innerActivity" data-layout="innerPages" class="activities-view"  data-model="app.sendNotification" data-init="app.sendNotification.init" data-show="app.sendNotification.show">
	<div data-role="header">
        <div data-role="navbar">
           Send Notification
           <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton"></a>
        </div>
    </div>
    
    <div style="margin-left:10px">
        <p style="color:#1B205E">Select Group to send Notification to particular group</p>
        <span style="margin-left:12px;"><input id="groupforNotification" placeholder="Select Group"/></span>
    </div>
    
    <div style="margin-left:10px">
        <p style="color:#1B205E">Notification Type</p>               
        <span style="margin-left:12px;"><input id="notificationType" /></span>
    </div>
    


    <ul data-role="listview" data-style="inset" style="margin-top:40px">
        <li class="username"><input type="text" class="k-textbox" id="notificationTitleValue" placeholder="Notification Title"/></li>
    </ul>

			   
    <div id="enterNotification" class="share-form-wrp" style="margin-top:-30px" data-role="listview" data-style="inset">
         <!--<div class="user-avatar">
            <img data-bind="attr:{src: me.get('data').PictureUrl}" alt="styles/images/avatar.png" />
        </div>-->
        <!--<h2 class="person-name" data-bind="text: me.get('data').DisplayName">Me</h2>-->
        <div class="user-share">
            <textarea id="notificationDesc" placeholder="Write Notification Message to Send ?" required validationMessage="Please Enter Notification Message!"></textarea>
        </div>
    </div>
    
    
     <li style="width:100%">
          <span data-role="button" style="background-color:#33539E;width:90%" data-bind="click: sendNotificationMessage">
	           <a data-role="button" style="background-color:#33539E ;width:100%;text-align:center;">Send Notification</a>
          </span>
     </li>
       
</div>

