   <div data-role="view" id="view-all-activities" data-id="innerActivity" data-layout="innerPages" class="activities-view" data-model="app.groupDetail" >
            <div data-role="header">        
               <div data-role="navbar">           
                   Reply to Users
                   <a class="nav-button nav-button-back hide-text" data-align="left"  data-role="backbutton">Back</a>
    	     </div>
	    </div>
	
	 <div>
    	<ul id="user-listview" data-style="inset" data-role="listview" data-template="userTemplate" data-bind="source:userData"></ul>
         <p id="no-activities-span" hidden="hidden" class="no-items-msg">
	    	   <b>You have no Notification for you.</b>
    	</p>
 	</div> 

   <div data-role="footer">
        <div data-role="tabstrip">
            <a id="manageGroupView" data-icon="settings" data-role="button" data-bind="click: manageGroup" >Manage Groups</a>
            <a id="replyUserView" data-icon="settings" data-role="button" data-bind="click: replyUser" >Reply User</a>
            <a id="sendNotificationView" data-icon="settings" data-role="button" data-bind="click: sendNotification" >Send Notification</a>
        </div>
   </div>
   
    
	    <div data-role="popover" id="moreFeature" data-use-native-scrolling="true" >
    	    <div data-role="view" id="popUpView" data-title="view1">
        		<div data-role="listview">
                            		<li class="popMoreButton"><a>Refresh</a></li>
                            		<li class="popMoreButton">Filter By</li>
                            		<li class="popMoreButton">Sort By</li>
                                    <li class="popMoreButton">Search</li>
                                    <li data-icon="recents" class="popMoreButton"><a href="views/myProfile.html">My Profile</a></li>
    			</div>
	    	</div>
    	</div>    
</div>


<!-- Activities ListView Template -->
		<script type="text/x-kendo-template" id="userTemplate" data-role="touch" data-bind="events: { tap: userMessageTab }">
    		<div data-role="touch" data-bind="events: { tap: userMessageTab }" class="cf">
        <!--<div class="user-avatar">
            <img data-bind="attr:{src: User().PictureUrl}" alt="styles/images/avatar.png" />
        </div>-->
       		 <div class="activity-content">
       		     <h2 id="" class="person-name">${DisplayName}</h2>
       		     <!--<span id="" class="time-span" >${CreatedAtFormatted()}</span>-->
       		 </div>
		    </div>
		</script>