<div data-role="view" id="view-all-activities" data-reload="true" data-id="innerActivity" class="activities-view-noti" data-model="app.Activities" data-init="app.Activities.init" data-show="app.Activities.show" data-after-show="app.Activities.afterShow" >
    <div data-role="header">
        <div data-role="navbar">
            <span id="navBarHeader">Notification</span>
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.Activities.goToAppFirstView"></a>
            <a style="background:transparent; border:none;" data-align="right" data-icon="printer" data-role="button" data-click="app.callUserLogin"></a>
        </div>
    </div>

    <div class="loader" id="progressNotification" style="display:none;">
        <div class="ball"></div>
    </div>

    <span id="activities-listview" data-style="inset" data-role="listview" data-template="activityTemplate"   data-bind="source: activities"></span>

    <div id="showMoreButton" class="showMore" data-role="button" data-click="app.Activities.showMoreButtonPress">LOAD MORE</div>
</div>

<script type="text/x-kendo-template" id="activityTemplate">            

    #if (org_id!=='0') {#
    <div class="cf">
        <div class="notiList-content-new">
            <div class="dateDisplay">
                <span id="activityTemplateDate" class="dateValue">${date}</span>
                <span></span>
            </div>
            <br/>
            #if (title!=='' && title!=='null' && title!==null) {#
                <span class="notiNameList" style="margin-left:0px;">${title}</span>               
            #}#
                    
            #if (message.length > 200) {#
                #messageVal = message.substr(0, 200) + '..';#
            #}else {#
                #messageVal = message;#  
            #}#            
            <a id="activityTemplateMessage" class="orgContentMsg">${messageVal}</a>            			                        
            #if(attached!=='' && attached!=='0' && attached!==0 && upload_type==="other"){#
                    <br/>
                    <div style="overflow:hidden;">
                     <br/>
                        <a data-role="button" data-click="app.Activities.imageDownlaodClick"  data-imgPath=${attachedImg} data-notiid=${pid} style="min-height:100px;min-width:100px;">
                            <div>
                                <img src= ${attachedImg} style="max-height:200px;max-width:230px;margin:-2px -6px -6px -6px ;"/>  
                            </div>
                        </a>
                        <br/>           
                        <div id="img_Div_${pid}" style="display:none;color:rgb(87,167,12);">
                            Downloading...
                        </div>
                                                        
                    </div>
            #}else if (attached!=='' && attached!=='0' && attached!==0 && upload_type==="video"){#          
                     <br/>        
                     <br/>        
                    <a data-role="button" data-click="app.Activities.videoDownlaodClick" data-someAttribute=${attachedImg} data-notiid=${pid}>
                      <div>
                            <img src="styles/images/videoPlayIcon.png" style="max-height:200px;max-width:230px;"/>                   
                      </div>
                    </a>                       
                    <br/>                    
                        <div id="video_Div_${pid}" style="display:none;color:rgb(87,167,12);">
                            Downloading...
                        </div>                                
            #}#                    
        </div>

        <div class="notiListbelow-List" data-role="touch" data-bind="events: { tap: activitySelected }">    
                  <div class="notiCommentIcon"></div>
                  <a id="activityTemplateMessage" class="notiListComment">Reply</a>            			            
             #if(comment_count!=='' && comment_count!=='null' && comment_count!==null && comment_count!==0){#
                #if(comment_count==='1' || comment_count===1){#
                <span class="user-comment-count">${comment_count} Reply</span>
                #}else{#
                <span class="user-comment-count">${comment_count} Replies</span>
                #}#
             #}#

        </div>
    </div>
    #}else {#
        <div class="cf">
            <div style="padding-left:10px;">
                <h2 class="notiNameList" style="margin-left:0px;" >${title}</h2>
                <a id="activityTemplateMessage" class="orgContentMsg"  >${message}</a>
            </div>
        </div>  
    #}# 
</script>

<script type="text/x-kendo-template" id="errorTemplate">    		
    <div class="cf" style="margin-top:50%">
        <div style="border-radius:12px;margin-left:10%;margin-right:10%;background-color:rgb(27,43,89);padding-top:.5px;padding-bottom:.5px;" >
            <h5 style="color:rgb(255,255,255);" >${message}</h5>
        </div>
    </div>
</script>
