<!--data-layout="innerPages"-->
<!--data-use-native-scrolling="true"-->

<div data-role="view" id="view-all-activities" data-id="innerActivity" class="activities-view-noti" data-model="app.Activities" data-init="app.Activities.init" data-show="app.Activities.show" data-after-show="app.Activities.afterShow" >
    <div data-role="header">
        <div data-role="navbar">
            <span id="navBarHeader">Notification</span>

            <!--<a data-role="button" style="background:transparent; border:none;" data-icon="reply" data-align="left"></a>
            <a data-role="button" style="background:transparent; border:none;" data-icon="printer" data-align="right"></a>

            <!--<a style="width: 3.5em;height:3.5em;margin-top:-.5px; border: 0 none;  background-position: 0 50%;background-color: transparent;" data-align="left" data-role="backbutton"><img src="styles/images/icon-arrow_left.png " style="background-position: .65em 50%;width:100%;height:90%"/></a>-->
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.Activities.goToAppFirstView"></a>
            <a style="background:transparent; border:none;" data-align="right" data-icon="printer" data-role="button" data-click="app.callUserLogin"></a>
            <!--<a class="nav-button nav-button-add hide-text" data-align="right" href="#moreFeature" data-role="button" data-rel="popover">Add</a>-->
        </div>
    </div>

    <div class="loader" id="progressNotification" style="display:none;margin-top:50%">
        <div class="ball"></div>
        <!--<div class="loading1">Loading...</div>-->
    </div>

    <span id="activities-listview" data-style="inset" data-role="listview" data-template="activityTemplate"   data-bind="source: activities"></span>

    <div id="showMoreButton" style="color:#3598DB;margin:10px;width:93%;" data-role="button" data-click="app.Activities.showMoreButtonPress">SHOW MORE</div>

    <!--<p id="no-activities-span" hidden="hidden" class="no-items-msg">
    <b>You have no Notification for you.</b>
    </p>-->
</div>

<!-- data-role="touch" data-bind="events: { tap: activitySelected }" -->
<!-- Activities ListView Template -->

<script type="text/x-kendo-template" id="activityTemplate">            

    #if (org_id!=='0') {#
    <div class="cf">
        <!--<div class="user-avatar">    
        <img src="styles/images/notification1.png" />
        </div>-->
        <!--#if (date!==previousDate) {#          
            <div style="text-align: center;margin-bottom:10px;margin-top:5px;">
            <span id="activityTemplateDate" style="text-align:center;line-height:10pt;border-radius:6px;background-color:rgb(230,230,230);padding:2px 10px 2px 10px;color:rgb(53,152,219);">${date}</span>              
            </div>
        #}#-->

        <div class="notiList-content-new">
            <div class="dateDisplay">
                <span id="activityTemplateDate" class="dateValue">${date}</span>
                <hr class="dateLine"/>
                <span></span>
            </div>

            <br/>
            #if (title!=='' && title!=='null' && title!==null) {#
                <span class="notiNameList" style="margin-left:0px;">${title}</span>               
            #}#
            <!--<img src="styles/images/arrow.png" style="float:left;margin-left:-19px;"/>-->           
            
            #if (message.length > 200) {#
                #messageVal = message.substr(0, 200) + '..';#
            #}else {#
                #messageVal = message;#  
            #}#
            
            <a id="activityTemplateMessage" class="orgContentMsg">${messageVal}</a>            			            
            
            #if (attached!=='' && attached!=='0') {#
                <br/>
                <img src= ${attachedImg} style="max-height:200px;margin-top:10px;" /> 
            #}#            
        
        </div>
        <div class="notiListbelow-List" data-role="touch" data-bind="events: { tap: activitySelected }">    
                  <div class="notiCommentIcon"></div>
                  <a id="activityTemplateMessage" class="notiListComment">Reply</a>            			            
        </div>
    </div>
    #}else {#
        <div class="cf">
            <div style="padding-left:10px;">
                <h2 class="notiNameList" style="margin-left:0px;" >${title}</h2>
                <a id="activityTemplateMessage" class="orgContentMsg"  >${message}</a>
            </div>
        </div>  
    #}# 
</script>

<script type="text/x-kendo-template" id="errorTemplate">    		
    <div class="cf" style="margin-top:50%">
        <div style="border-radius:12px;margin-left:10%;margin-right:10%;background-color:rgb(27,43,89);padding-top:.5px;padding-bottom:.5px;" >
            <h5 style="color:rgb(255,255,255);" >${message}</h5>
        </div>
    </div>
</script>
