<div data-role="view" id="single-activity" data-layout="innerActivity" class="activity-view"  data-init="app.Activity.init"  data-show="app.Activity.show" data-before-show="app.Activity.befShow" data-model="app.Activity" data-reload="true">
    <div data-role="header">
        <div data-role="navbar">
            Notification
                <!--<a style="width: 3.5em;height:3.5em;margin-top:-.5px; border: 0 none;  background-position: 0 50%;background-color: transparent;" data-align="left" data-role="backbutton"><img src="styles/images/icon-arrow_left.png " style="background-position: .65em 50%;width:100%;height:90%"/></a>-->
                <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="backbutton"></a>  
                <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callUserLogin"></a>
        </div>
    </div>
    
    <!--data-bind="attr:{src: User().PictureUrl}" alt="styles/images/avatar.png"-->
    <div id="status-container" class="user-status-wrp cf" data-role="listview" data-style="inset">
        <div class="user-avatar">
            <img id="orgLogoImg" />
        </div>
        <div>
	        <div class="activity-content">
    	        <!--<span id="activityDate" class="time-span" data-bind="text: CreatedAtFormatted"></span>-->
        	    <li id="titleContainer" style="background-color:#FDFF85;padding:10px;border-radius:6px;">
            		  <img src="styles/images/arrow.png" style="margin-left:-19px;"/>                     
              		<h2 id="personName" class="chatTitle" data-bind='text:title' style="margin-left:-3px;"></h2>      
              		<span id="activityText" data-bind="text: message" class="user-share-txt"></span>
                    
                     <!--<img id="notiImg" data-bind="attr: { src:attachedImg, alt: imageAlt }" />-->
            	</li>    
            <!--<img id="picture" class="picture" data-bind="attr:{src: PictureUrl()}" width="100%"/>-->            
            </div>
            <br/>
            <div id="notiImage"></div>
       </div> 
        
             <div class="loader" id="progressChat" style="display:none;margin-top:50%">
                      <div class="ball"></div>
                      <div class="loading1">Loading...</div>
             </div>

        <div class="commentContent" >
            <div class="comments-wrp">
                <ul id="comments-listview" data-template="commentsTemplate"  class="commentClasList"></ul>
            </div>
        </div>              
    </div>   
    
   
   <div id="commentPanel" data-role="footer" style="background-color:#E0E0E0;padding:3px;padding-bottom:3px;">
        <div style="display:inline;padding:3px;">
  		 <div style="float:left;width:79%;"><textarea id="newComment" placeholder="Write a reply..." style="padding-left:5px;padding-right:5px;"></textarea></div>
           <input type="button" value="Send" style="width:19%;height:30px;background-color:#4583ED;border:none;color:#ffffff" data-role="button" data-bind="click: saveComment"/>
        </div>
   </div>          
</div>

<!-- Comments Template display: inline; float:right;-->
<script type="text/x-kendo-template" id="commentsTemplate">
   # if (user_type !== 'Customer'){ # 
        <div class="comment-content" style="background-color:rgb(253,255,133);padding:10px;border-radius:6px;">
            <h2 class="person-name">${User()}</h2>
            <span class="time-span">${add_date}</span>       
            <img src="styles/images/arrow.png" style="float:left;margin-left:-19px;"/>
            <a class="user-share-txt">${comment}</a>
       </div>
  # }else{ #
    <div class="comment-content" style="background-color:rgb(203,225,254);padding:10px;border-radius:6px;">
               <h2 class="person-name">${User()}</h2>
               <span class="time-span">${add_date}</span>
              <img src="styles/images/arrowR.png" style="float:right;margin-right:-19px;"/>
        <a class="user-share-txt">${comment}</a>
    </div>        
   # } #
</script>
