   <div data-role="view" id="view-all-activities" data-id="innerActivity" data-layout="innerPages" class="activities-view" data-model="app.Activities" data-init="app.Activities.init" data-show="app.Activities.show" data-after-show="app.Activities.afterShow" >
         <div data-role="header">        
              <div data-role="navbar">     
                  <span id="navBarHeader">Notification</span>
                  <!--<a style="width: 3.5em;height:3.5em;margin-top:-.5px; border: 0 none;  background-position: 0 50%;background-color: transparent;" data-align="left" data-role="backbutton"><img src="styles/images/icon-arrow_left.png " style="background-position: .65em 50%;width:100%;height:90%"/></a>-->		           
                  <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">Back</a> 
                  <a class="nav-button nav-button-home hide-text" data-align="right" data-role="button" data-click="app.callUserLogin">home</a>
                  
		         <!--<a class="nav-button nav-button-add hide-text" data-align="right" href="#moreFeature" data-role="button" data-rel="popover">Add</a>-->  
              </div>              
	     </div>
           
       <div class="loader" id="progressNotification" style="display:none;margin-top:50%">
                      <div class="ball"></div>
                      <div class="loading1">Loading...</div>
       </div>

       <div>  
           
    	<ul id="activities-listview" data-style="inset" data-role="listview" data-template="activityTemplate"   data-bind="source: activities"></ul>

          <div id="showMoreButton" style="color:#3598DB;margin:10px;width:93%" data-role="button" data-click="app.Activities.showMoreButtonPress">SHOW MORE</div>

             <!--<p id="no-activities-span" hidden="hidden" class="no-items-msg">
		    	   <b>You have no Notification for you.</b>
    		 </p>-->
 	  </div> 
       


    
   </div>
	
<!-- data-role="touch" data-bind="events: { tap: activitySelected }" -->
	<!-- Activities ListView Template -->

		<script type="text/x-kendo-template" id="activityTemplate">
            
          #if(org_id!=='0'){#
    		<div class="cf" data-role="touch" data-bind="events: { tap: activitySelected }">         
	            <!--<div class="user-avatar">    
        		    <img src="styles/images/notification1.png" />
 	           </div>-->
              #if(date!==previousDate){#          
              <div style="text-align: center;margin-bottom:10px;margin-top:5px;">
                 <span id="activityTemplateDate" style="text-align:center;line-height:10pt;border-radius:6px;background-color:rgb(230,230,230);padding:2px 10px 2px 10px;color:rgb(53,152,219);">${date}</span>              
              </div>
              #}#
              
       		<div class="activity-content" style="background-color:rgb(253,255,133);padding:10px;border-radius:6px;" >
              #if(title!=='' && title!=='null' && title!==null){#
       		     <h2 id="activityTemplateTitle" class="orgNameList" style="margin-left:-3px; color:rgb(107,111,116);" >${title}</h2>
                                 
       		     <span id="activityTemplateDate" class="time-span" style="padding-right:2px;">${time}</span>       	
                   
              #}#
 				   <!--<img src="styles/images/arrow.png" style="float:left;margin-left:-19px;"/>-->           
       		     <a id="activityTemplateMessage" class="orgContentMsg" style="color:rgb(188,188,188);" >${message}</a>            			            
            
                    #if(attached!=='' && attached!=='0'){#
                      <br/>  
                      <img src= ${attachedImg} style="height:100px ; width:auto;margin-top:10px;" /> 
                    #}#            
            
       		</div>
		    </div>
               
           #}else{#
             	<div class="cf">
            
       		<div class="activity-content" style="background-color:rgb(253,255,133);padding:10px;border-radius:6px;" >
       		     <h2 id="activityTemplateTitle" class="orgNameList" style="margin-left:-3px; color:rgb(107,111,116);" >${title}</h2>
                   #if(org_id!=='0'){#
        		     <span id="activityTemplateDate" class="time-span" style="padding-right:2px;">${CreatedAtFormatted()}</span>
            	  #}#
 				   <!--<img src="styles/images/arrow.png" style="float:left;margin-left:-19px;"/>-->           
       		     <a id="activityTemplateMessage" class="orgContentMsg" style="color:rgb(188,188,188);" >${message}</a>            			            
            
                    #if(attached!=='' && attached!=='0' ){#
                      <br/>  
                      <img src= ${attachedImg} style="height:100px ; width:auto;margin-top:10px;" /> 
                    #}#            
            
       		</div>
		    </div>  
               
           #}# 
		</script>




		<script type="text/x-kendo-template" id="errorTemplate">    		
            <div class="cf" style="margin-top:50%">
       		 <div style="border-radius:12px;margin-left:10%;margin-right:10%;background-color:rgb(27,43,89);padding-top:.5px;padding-bottom:.5px;" >
       		     <h5 style="color:rgb(255,255,255);" >${message}</h5>
                </div>
		    </div>
		</script>
    