<div data-role="view" id="view-all-activities" data-layout="default" class="activities-view" data-model="app.addCustomerByAdmin"
     data-init="app.addCustomerByAdmin.regInit" data-show="app.addCustomerByAdmin.addNewRegistration" >
    <div data-role="header">
        <div data-role="navbar">
            Add Members
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="backbutton"></a>
            <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callAdminOrganisationList"></a>
        </div>
    </div>


    <div class="loader" id="saveMemberLoader" style="display:none;">
        <div class="ball"></div>
    </div>
    
    <!--<div style="padding:10px;">
               <span>Select Group</span>                
               <select id="multiSelectGroupName" data-placeholder="Select Group to Add Member" multiple="multiple" size=50 style='margin-top:10px;paddiing:5px;'></select>
    </div>-->

    <div>
        <form>
            <ul data-role="listview" data-style="inset">
                <li class="username">
                    <input type="text"  id="regFirstName" placeholder="First Name" />
                </li>
                <li class="password">
                    <input type="text"  id="regLastName" placeholder="Last Name" />
                </li>
                <li class="password">
                    <input type="email" id="regEmail" placeholder="Email" />
                </li>
                <li class="username" style="border-bottom:1px solid #eaeced;">
                    <input type="number" pattern="[0-9]*" step="0.01"  id="regMobile" placeholder="Mobile Number" />
                </li>
            </ul>
            <ul id="addMemberUl" data-role="listview" data-style="inset"></ul>
            <a style="padding-left:10px;color:#5992CB" data-role="touch" data-bind="events: { tap: addMoreMobileNo }" >Add more</a>
                        
            
            <div class="selectGroupClass">Select Group to Add Member </div>
            <div id="groupInAddCustomer" class="selectDivClass"> </div>            
        </form>
    </div>
    
    <li class="defineSaveButton" data-role="touch" data-bind="events: { tap: registerR }">
        Save
    </li>
</div> 


