<div data-role="view" id="view-all-activities" data-id="innerActivity" data-layout="innerPages" class="activities-view" data-model="app.GroupList" data-init="app.GroupList.init">
    <div data-role="header">
        <div data-role="navbar">
            Add Group
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.GroupList.goToGroupList"></a>
            <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callAdminOrganisationList"></a>

            <!--<a style="width: 3.5em;height:3.5em;margin-top:-.5px; border: 0 none;  background-position: 0 50%;background-color: transparent;" data-align="left" data-role="backbutton"><img src="styles/images/icon-arrow_left.png " style="background-position: .65em 50%;width:100%;height:90%"/></a>-->
        </div>
    </div>

    <div>

        <div id="enterNotification" class="textWithTextArea">

            <!--<ul data-role="listview" data-style="inset">
            <li class="username"><input type="text" id="newGroup" placeholder="Enter New Group Name" required validationMessage="Username is required!" /></li>
            </ul>-->

            <input type="text"  id="newGroup" class="defineTextBox"  placeholder="Enter New Group Name" />
  
            <textarea rows="8" class="defineTextArea" id="newGroupDesc" placeholder="Write Group description here (Optional) ?"></textarea>

        </div>

        <li class="defineSaveButton" data-role="touch" data-bind="events: { tap: addGroupFunc }">
            Add Group
        </li>

    </div>

</div> 