<div data-role="view" id="adminAddNews" data-id="innerActivity" data-layout="default" class="activities-view"  data-model="app.adminNews" data-show ="app.adminNews.addEventshow" data-transition="zoom">

    <div data-role="header" style="border-bottom:2px solid #BABBBF">         
              <div data-role="navbar">   
                 <span> Add News </span>
                 <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.adminNews.goToManageOrgPage"></a>
                 <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callAdminOrganisationList"></a>
              </div>                                          
    </div>
    
    
    <div data-role="content">
    	<div id="enterNotification" class="textWithTextArea" >             
            
           <!--<div class="textareaClass" >
	             <textarea id="addNewsDesc" placeholder="Please Enter News Here"></textarea>    
           </div>
           <br/>-->
            
           <span id="activityTemplateDate"  class="defineTitleText" >News :</span> 
	       <textarea rows="9" class="defineTextArea" id="addNewsDesc" placeholder="Please Enter News Here"></textarea>               
           <br/>


            
            <span id="activityTemplateDate"  class="defineTitleText" >News Date :</span> 
            
            <div style="margin-top:20px;" >
                <input id="adddatePickerNews" style="width:180px;"/>
            </div>
            <br/>
            
            <span id="activityTemplateDate"  class="defineTitleText" >News Time :</span> 
                <div style="margin-top:20px;" >
                    <input id="adddateTimePickerNews" style="width:180px;"/>
                </div>
          
        </div>
         
         
           <li class="defineSaveButton" data-role="touch" data-bind="events: { tap: addNewNewsFunction }">
                 Save
           </li>
    </div>

    <div data-role="footer">
       	 <div id="manageOrgFooter" data-role="tabstrip" data-selected-index="2">
                <a id="" data-icon="more" data-role="button" data-bind="click: orgAllNewsList" >All News</a>
            </div>
    </div>   


</div>




    <div data-role="view" id="adminOrgNewsList" data-id="innerActivity" data-layout="default" class="activities-view"  data-model="app.adminNews" data-show ="app.adminNews.show" data-transition="zoom">

        <div data-role="header" style="border-bottom:2px solid #BABBBF">         
              <div data-role="navbar">     
                 <span> All News </span>
                 <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.adminNews.goToAddNewsPage"></a>    
                 <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callAdminOrganisationList"></a>
              </div>                                          
        </div>

        <ul id="orgAllNewsList" data-style="inset" data-role="listview" data-template="newsListTemplate"   data-bind="source: activities"></ul>
    
           
    </div>



		<script type="text/x-kendo-template" id="newsListTemplate" >
            
            <div class="cf" data-role="touch" data-bind="events: { tap: editNews }">         
               
       		<div >

                          #if(id!==0){#
                              
                                <span id="activityTemplateDate"  class="notiNameList" >News Date: ${news_date}</span>       	            
    
                         #}#


                        <span  id="activityTemplateMessage"  class="orgContentMsg" >${news_desc}</span>            			            
                  
                                    
                                    <!--
                   <div style="margin-top:10px;color:rgb(53,152,219);"><div style="float:left;" data-role="touch" data-bind="events: { tap: editNews }"><u>Edit News</u></div>                            
                   <div style="float:right;" data-role="touch"  data-bind="events: { tap: deleteNews }"><u>Delete News</u></div> </div>
                            -->

       		</div>

		    </div>   
            
		</script>






<div data-role="view" id="adminEditNews" data-id="innerActivity" data-layout="default" class="activities-view"  data-model="app.adminNews" data-show ="app.adminNews.editNewsshow" data-transition="zoom">

    <div data-role="header" style="border-bottom:2px solid #BABBBF">         
              <div data-role="navbar">     
                 <span> Edit News </span>
                 <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.adminNews.goToNewsListPage"></a>    
                 <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callAdminOrganisationList"></a>
              </div>                                          
    </div>
    
   
        <div data-role="content">
    
          <div id="enterNotification" class="textWithTextArea">
            
           
           <span id="activityTemplateDate"  class="defineTitleText" >News :</span> 
	       <textarea rows="9" class="defineTextArea" id="editNewsDesc" placeholder="Please Enter News Here"></textarea>               
           <br/>
            
           <!--<div class="textareaClass">
	             <textarea id="editNewsDesc" placeholder="Please Enter News Here"></textarea>    
           </div>            
                <br/>
            -->
             
            <span id="activityTemplateDate"  class="defineTitleText" >News Date :</span> 
            
            <div style="margin-top:20px;" >
                <input id="editdatePickerNews" style="width:180px;"/>
            </div>
            <br/>
            
            <span id="activityTemplateDate"  class="defineTitleText" >News Time :</span> 
                <div style="margin-top:20px;" >
                    <input id="editdateTimePickerNews" style="width:180px;"/>
                </div>
            
            
          </div>
                 
           <li class="defineSaveButton" data-role="touch" data-bind="events: { tap: saveEditNewsData }">
                  Save Change   
           </li>     
            
        </div>    
    
        <div data-role="footer">
       	 <div id="manageOrgFooter" data-role="tabstrip" data-selected-index="2">
                <a id="" data-icon="trash" data-role="button" data-bind="click: deleteNews" > Delete News</a>
            </div>
        </div>

    
</div>




