<div data-role="view" id="adminEventList" data-id="innerActivity" data-layout="default" class="activities-view-info"  data-model="app.adminEventCalender" data-show ="app.adminEventCalender.eventListShow" >

    <div data-role="header" style="border-bottom:2px solid #BABBBF">         
              <div data-role="navbar">     
                 <span>All Event List</span>
                 <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.adminEventCalender.goToManageOrgPage"></a>    
                 <a style="background:transparent; border:none;" data-icon="add" data-align="right" data-role="button" data-click="app.adminEventCalender.addEventByAdmin"></a>
              </div>                                          
    </div>
    
        <div class="loader" id="adminEventListLoader" style="display:none;">
                      <div class="ball"></div>
        </div>

    
    <span id="eventCalendarAllList" data-style="inset" data-role="listview" data-template="calendarAdminEventListTemplate"   data-bind="source: activities"></span>
    
</div>



		<script type="text/x-kendo-template" id="calendarAdminEventListTemplate">
            <!--data-bind="events: { tap: activitySelected }"-->
          #if(id!== 0 && id!== '0'){#  
            <div class="cf" data-role="touch" data-bind="events: { tap: eventDetailShow }">                        

             <div class="calendarEvent-content">            
            
                #if(event_date!==preDateVal){#                  
                 <div>
                    <span id="activityTemplateDate" class="CalenderdateValue">${event_show_day}</span>
                  <span>
                    <span id="activityTemplateDate" class="calDayClass">${event_above_day}</span>
                    <span id="activityTemplateDate" class="calMonthClass">${event_below_day}</span>
                  </span>
                 </div>
                <br/>
       		#}#
                   
                <div class="calendarEvent-List" >                 
                 #if (event_image!=='' && event_image!=='0' && upload_type==="image"){# 
                      <div class="user-avatar-event"  >
                         <img src=${event_image} />      
                      </div>
                 #}else if (event_image!=='' && event_image!=='0' && upload_type==="video"){#          
                         <div class="event-vid-show"></div>
                 #}else {#
                         <div class="event-img-show"></div>                    
                 #}# 
                   
                   #if (event_desc.length > 80) {#
                        #event_desc_val = event_desc.substr(0, 80) + '..';#
                   #}else {#
                        #event_desc_val = event_desc;#  
                   #}#

                               
       		     <div id="activityTemplateTitle" class="eventNameList">${event_name}</div>
         		   <span  id="activityTemplateMessage"  class="eventContentMsg" >${event_desc_val}</span>            			            

               </div> 
                     <div class="calendarEventbelow-List" >           
       	                 <span id="activityTemplateDate" class="calanderTimeClass">${event_time}</span>       	            
       		      </div>
              </div> 
		    </div>   
              
         #}else{#            
              <div class="cf">                        
       		<div class="calendarEvent-List" style="border-radius:6px;">             
       		     <div id="activityTemplateTitle" class="HeadingClass">${event_name}</div>
         		   <span  id="activityTemplateMessage"  style="color:rgb(147,147,147);" >${event_desc}</span>            			            
       		</div>

		    </div>   

            
         #}#
		</script>



<!-- class="activities-view-info" -->
<div data-role="view" id="adminEventCalendar" data-id="innerActivity" data-layout="default" class="activities-view"  data-model="app.adminEventCalender" data-show ="app.adminEventCalender.show">
    <div data-role="header" style="border-bottom:2px solid #BABBBF">         
              <div data-role="navbar">     
                 <span>Event Calendar</span>
                 <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.adminEventCalender.goToEventListPage"></a>
                 <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callAdminOrganisationList"></a>
              </div>                                          
    </div>


    <div class="loader" id="adminCalProcess" style="display:none;">
                      <div class="ball"></div>
    </div>

    <br/>    
    <br/>

    
    <div id="calendarContainerDiv" style="width:100%; text-align: center;">
         <div id="admincalendar"></div>        
    </div>
    
    
        
    <!--<div data-role="footer">
       	 <div id="manageOrgFooter" data-role="tabstrip" data-selected-index="2">
                <a id="" data-icon="more" data-role="button" data-bind="click: upcommingEventList" >Event List</a>
            </div>
    </div>-->   

       
</div>


<div data-role="view" id="adminEventCalendarDetail" data-id="innerActivity" data-layout="default" class="activities-view-info"  data-model="app.adminEventCalender" data-show ="app.adminEventCalender.detailShow">

    <div data-role="header" style="border-bottom:2px solid #BABBBF">                       
              <div data-role="navbar">                        
                  <span>Event List</span>
                 <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.adminEventCalender.goToEventListPage"></a>    
                 <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callAdminOrganisationList"></a>
              </div>                                          
    </div>

    <span id="eventCalendarList" data-style="inset" data-role="listview" data-template="calendarTemplate"   data-bind="source: activities"></span>
    
    
    <!--<div data-role="footer">
       	 <div id="manageOrgFooter" data-role="tabstrip" data-selected-index="2">
                <a id="" data-icon="add" data-role="button" data-bind="click: addNewEvent" >Add Event</a>
            </div>
    </div>-->   
     
      <div data-role="footer">
       	 <div id="manageOrgFooter" data-role="tabstrip" data-selected-index="2">
            <a id="" data-icon="trash" data-role="button" data-bind="click: deleteEvent" >Delete Event</a>
           </div>
      </div>
    
</div>

		<script type="text/x-kendo-template" id="calendarTemplate">
            <!--data-bind="events: { tap: activitySelected }"-->            
            <div class="cf" data-role="touch" >                        
       		<div class="notiList-content-new" >             
       		     <div id="activityTemplateTitle" class="HeadingClass" >${event_name}</div>
       		     <span  id="activityTemplateMessage"  style="color:rgb(147,147,147);padding-right:10px;margin-top:10px;text-align:justify;" >${event_desc}</span>            			            
                  
                    #if (event_image!=='' && event_image!=='0'  && upload_type==="image") {#
                        <br/>
                            <img src= ${event_image} style="max-height:200px;margin-top:10px;" /> 
                        <br/>
                    #}else if (event_image!=='' && event_image!=='0' && upload_type==="video"){#          
                     <br/>
                     <video  width="300" height="300" controls>
                          <source src=${event_image} >
                     </video>
                   #}#                                       
                        <br/>
                    <span id="activityTemplateDate"  style="float:left;color:rgb(122,184,77);margin-top:5px;">Date:<span style="color:rgb(147,147,147);"> ${event_show_day} ${event_below_day} </span></span>       	            
                    <span id="activityTemplateDate"  style="float:right;color:rgb(122,184,77);margin-top:5px;">Time:<span style="color:rgb(147,147,147);">${event_time}</span></span>       	            
            
            
       		</div>
                <div class="notiListbelow-List" data-role="touch" data-bind="events: { tap: editEvent }">    
                              <div class="notiNewsEditIcon"></div>
                              <a id="activityTemplateMessage" class="notiListComment">Edit</a>            			            
              </div>

		    </div>   
            
		</script>

<!--data-use-native-scrolling="true"-->

<div data-role="view" id="adminAddEventCalendar" data-id="innerActivity" data-layout="default" class="activities-view"  data-model="app.adminEventCalender" data-show ="app.adminEventCalender.addEventshow">

    <div data-role="header" style="border-bottom:2px solid #BABBBF">         
              <div data-role="navbar">     
                 <span> Add Event </span>
                 <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.adminEventCalender.goToEventListPage"></a>    
                 <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callAdminOrganisationList"></a>
              </div>                                          
    </div>
    
    
    <div class="loader" id="sendEventLoader" style="display:none;">
          <div class="ball"></div>
    </div>
    	   
    <div data-role="content">

        <div id="enterNotification" class="textWithTextArea" >             

            <span id="activityTemplateDate" class="defineTitleText" >Event Title :</span> 
            <br/>
                <input type="text"  id="addEventName" class="defineTextBox"  placeholder="Enter New Event Name" />
            <br/>
            
            
           <span id="activityTemplateDate"  class="defineTitleText" style="margin-bottom:10px;">Event Detail :</span> 

            <br/>
            <br/>

           <textarea  id="addEventDesc" placeholder="Write Event description here (Optional) ?" class="common"></textarea> 

            <br/>
            <br/>
            <span id="activityTemplateDate"  class="defineTitleText">Event Date :</span>             
            
            <div style="margin-top:10px;" >
                <input id="adddatePickerEvent" onkeydown="return false;" style="width:180px;"/>
            </div>
            
            <br/>
            
            <span id="activityTemplateDate"  class="defineTitleText">Event Time :</span> 
            
                <div style="margin-top:10px;" >
                    <input id="adddateTimePickerEvent" onkeydown="return false;" style="width:180px;"/>
                </div>
        </div>
         
        
            <div id="eventAttachment" style="margin-top:10px;margin-bottom:10px;height:50px; width:100%;">
                <div style="display:inline;">
                    
                    <a style="background:transparent; border:none;float:left" data-icon="toprated" data-role="button" data-rel="actionsheet" data-align="left" href="#eventImgSelect" ></a>

                    <img id="attachedImgEvent" src="" alt="" align="right"  style="height:50px;width:100px;margin-left:10px;float:left;border:none;display:none" />

                    <!--<a id="removeEventAttachment" style="border:none;display:none;margin-left:15px;" data-icon="sounds" data-align="right" data-role="button" data-bind="click: removeImage"></a>-->
                    
                    <div style="width:180px,height:50px;">                        
                        <video id="attachedVidEvent" width="180" height="50" controls style="display:none">
                             <source src="" type="">
                        </video>
                    </div>

                </div>
                
                <ul data-role="actionsheet" id="eventImgSelect">
                    <li class="km-actionsheet-title"></li>
                    <li>
                        <a href="#" data-role="button" data-bind="click: getTakePhoto">Take Photo</a>
                    </li>
                    <li>
                        <a href="#" data-role="button" data-bind="click: getPhotoVal">Album</a>
                    </li>
                    <li>
                        <a href="#" data-role="button" data-bind="click: getVideoVal">Video</a>
                    </li>
                    <li>
                        <a href="#" data-role="button" data-bind="click: removeImage">Remove</a>
                    </li>
                </ul>
            </div>
        

         
           <li class="defineSaveButton" data-role="touch" data-bind="events: { tap: addNewEventFunction }">
                Save   
           </li>
    </div> 
</div>



<div data-role="view" id="adminEditEventCalendar" data-id="innerActivity" data-layout="default" class="activities-view"  data-model="app.adminEventCalender" data-show ="app.adminEventCalender.editEventshow">

    <div data-role="header" style="border-bottom:2px solid #BABBBF">         
              <div data-role="navbar">     
                 <span> Edit Event </span>                 
                 <a id="backCalender" style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.adminEventCalender.goToCalendarPageDetail"></a>    
                 <a id="backEventList" style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.adminEventCalender.goToEventListPage"></a> 
                 <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callAdminOrganisationList"></a>
              </div>                                          
    </div>
    
    <div class="loader" id="sendEditEventLoader" style="display:none;">
          <div class="ball"></div>
    </div>
    
   <div data-role="content">
    	<div id="enterNotification" class="textWithTextArea" >             
            
           <!--<ul data-role="listview" data-style="inset">
                <li class="username"><input type="text" id="editEventName" placeholder="Enter New Event Name" /></li>
           </ul>--> 
            
            <span id="activityTemplateDate"  class="defineTitleText">Event Title :</span> 
            <br/>
                <input type="text"  id="editEventName" class="defineTextBox"  placeholder="Enter New Event Name" />
            <br/>

             
           <!--<div class="textareaClass">
	             <textarea id="editEventDesc" placeholder="Write Event description here (Optional) ?"></textarea>    
           </div>
            <br/>
            -->
                        
           <span id="activityTemplateDate"  class="defineTitleText">Event Detail :</span>
            <br/>
            <br/>

           <textarea  id="editEventDesc" placeholder="Write Event description here (Optional) ?" class="common"></textarea> 

            <br/>
            <br/>
 
	       <!--<textarea rows="9" class="defineTextArea" id="editEventDesc" placeholder="Write Event description here (Optional) ?"></textarea>               
           <br/>-->

            
            <span id="activityTemplateDate"  class="defineTitleText">Event Date :</span> 
            
            <div style="margin-top:20px" >
                <input id="editdatePicker" />
            </div>
            <br/>
            
            <span id="activityTemplateDate"  class="defineTitleText">Event Time :</span> 
                <div style="margin-top:20px" >
                    <input id="editdateTimePicker" />
                </div>
            
        </div>
         
            <div id="editEventAttachment" style="margin-top:10px;margin-bottom:10px;height:50px; width:100%;">
                <div style="display:inline;">
                    
                    <a style="background:transparent; border:none;float:left" data-icon="toprated" data-role="button" data-rel="actionsheet" data-align="left" href="#editEventImgSelect" ></a>
                    
                    <img id="attachedImgEditEvent" src="" alt="" align="right"  style="height:50px;width:100px;margin-left:10px;float:left;border:none;display:none" />

                    <!--<a id="removeEditEventAttachment" style="border:none;display:none;margin-left:15px;" data-icon="sounds" data-align="right" data-role="button" data-bind="click: removeImageEdit"></a>-->
                    
                    <div style="width:180px,height:50px;">                        
                        <video id="attachedEditVidEvent" width="180" height="50" controls style="display:none">
                             <source src="" type="">
                        </video>
                    </div>

                </div>
                
                <ul data-role="actionsheet" id="editEventImgSelect">
                    <li class="km-actionsheet-title"></li>
                    <li>
                        <a href="#" data-role="button" data-bind="click: getTakePhotoEdit">Take Photo</a>
                    </li>
                    <li>
                        <a href="#" data-role="button" data-bind="click: getPhotoValEdit">Album</a>
                    </li>
                    <li>
                        <a href="#" data-role="button" data-bind="click: getVideoValEdit">Video</a>
                    </li>
                     <li>
                        <a href="#" data-role="button" data-bind="click: removeImageEdit">Remove</a>
                    </li>
                </ul>
            </div>
         
           <li class="defineSaveButton" data-role="touch" data-bind="events: { tap: saveEditEventData }">
                       Save Change   
           </li>       
   </div>      
</div>

 <script type="text/x-kendo-template" id="errorTemplate">    		
            <div class="cf" style="margin-top:30%;border:none">

                <div class="error-avatar">
                    <img src="styles/images/error.png"/>
                </div>

                <div class="error-content">
                    <h5 style="color:rgb();text-align:center" >${message}</h5>

                    <!--<p style="border-radius:12px;margin-top:0px;background-color:rgb(27,43,89);color:white;padding:2px;left: 50%;margin-left:-30px;position:absolute" >
                        Try Again
                    </p>-->

                </div>
            </div>
</script>