<div data-role="layout" data-id="mobile-tabstrip-admin">
   <div data-role="header" >               
              <div data-role="navbar">     
                 <span data-role="view-title"></span> 
                 <a style="width: 3.5em;height:3.5em;margin-top:-.5px; border: 0 none;  background-position: 0 50%;background-color: transparent;" data-align="left" data-role="button" data-click="app.adminOragnisationList.logout"><img src="styles/images/icon-arrow_left.png " style="background-position: .65em 50%;width:100%;height:90%"/></a>
              </div>              
                            
	          <div id="upperTabAdmin" data-role="tabstrip" style="border-top:2px solid #2D384C">
	            <a id="manageGroupView" data-icon="organize" data-role="button" href="#view-all-activities-admin" >Manage Org</a>
    	        <a id="replyUserView" data-icon="reply" data-role="button" href="#view-all-activities-userReply" >Incomming Msg</a>
        	    <a id="sendNotificationView" data-icon="action" data-role="button" href="sendNotificationDiv" >Send Notification</a>
              </div>     
   </div>
</div>


<div data-role="view" id="view-all-activities-admin" data-id="innerActivity" data-title="Organisation List" data-layout="mobile-tabstrip-admin" class="activities-view" data-model="app.adminOragnisationList" data-init="app.adminOragnisationList.init" data-show="app.adminOragnisationList.show" data-before-Show="app.adminOragnisationList.beforeShow">
     <div>
    	<ul id="admin-org-listview" data-style="inset" data-role="listview" data-template="adminOrganisationTemplate" data-pull-to-refresh="true" data-bind="source: activities"></ul>
	         <p id="no-activities-span" hidden="hidden" class="no-items-msg">
		    	   <b>You have no Notification for you.</b>
    		 </p>
 	</div> 
   
</div>	



<div data-role="view" id="view-all-activities-userReply" data-id="innerActivity" data-title="Reply To User" data-layout="mobile-tabstrip-admin" class="activities-view" data-model="app.userReplyList" data-init="app.userReplyList.init"  data-show="app.userReplyList.show" data-before-Show="app.userReplyList.beforeShow">	
	 <div>
    	<ul id="user-Reply-listview" data-style="inset" data-role="listview" data-template="userReplyTemplate" data-pull-to-refresh="true" data-bind="source: activities"></ul>
         <p id="no-activities-span" hidden="hidden" class="no-items-msg">
	    	   <b>You have no Notification for you.</b>
    	</p>
 	</div>    
</div>



<div data-role="view" id="sendNotificationDiv" data-id="innerActivity" data-title="Send Notification" data-layout="mobile-tabstrip-admin" class="activities-view"  data-model="app.sendNotification" data-init="app.sendNotification.init" data-show="app.sendNotification.show">

  <div  id="selectOrgDiv" style="background-color:#F5F5F5; margin:25% 10px 10px 10px; border-radius:6px;border: 2px solid #575B5F;">
        <p style="color:#1B205E; text-align:center ; margin-bottom:5px;">Select Organisation to send Notification</p>
    	<ul id="organisation-Name-listview" data-style="inset" data-role="listview" data-template="orgNameTemplate" data-pull-to-refresh="true" data-bind="source: activities" ></ul>
	         <p id="no-activities-span" hidden="hidden" class="no-items-msg">
		    	   <b>You have no Notification for you.</b>
    		 </p>
  </div>
    
    
    
   <div  id="selectGroupDiv" style=" display:none;background-color:#F5F5F5; margin:25% 10px 10px 10px; border-radius:6px;border: 2px solid #575B5F;">
        <p style="color:#1B205E;text-align:center;margin-bottom:5px;">Select Group to send Notification to particular group</p>
    	<ul id="group-Name-listview" data-style="inset" data-role="listview" data-template="groupNameTemplate" data-pull-to-refresh="true" data-bind="source: activities" ></ul>
        
       <!--<div>
          <span data-role="button" style="background-color:#33539E;width:100%" data-bind="click:escapeGroupClick">
	           <a data-role="button" style="background-color:#33539E ;width:100%;text-align:center;">Skip</a>
          </span>       
       </div>-->   
	         <p id="no-activities-span" hidden="hidden" class="no-items-msg">
		    	   <b>You have no Notification for you.</b>
    		 </p>
  </div>
    
    
   <div id="selectTypeDiv" style="display:none;background-color:#F5F5F5; margin:25% 10px 10px 10px; border-radius:6px;border: 2px solid #575B5F;">
       <p style="color:#1B205E;text-align:center;margin-bottom:5px;">Notification Type</p>
       <ul id="type-Name-listview" data-style="inset" data-role="listview" data-template="typeNameTemplate" data-pull-to-refresh="true" data-bind="source: activities" ></ul>
       
	   <p id="no-activities-span" hidden="hidden" class="no-items-msg">
		   <b>You have no Notification for you.</b>
       </p>
  </div> 
    
    
   <!-- <div style="margin-left:10px">
        <p style="color:#1B205E">Select Organisation to send Notification</p>
        <span style="margin-left:12px;"><input id="orgforNotification" placeholder="Select Organisation" /></span>
    </div>-->
    
    <!--<div style="margin-left:10px">
        <p style="color:#1B205E">Select Group to send Notification to particular group</p>
        <span style="margin-left:12px;"><input id="groupforNotification" placeholder="Select Group"/></span>
    </div>-->
    
    <!--<div style="margin-left:10px">
        <p style="color:#1B205E">Notification Type</p>               
        <span style="margin-left:12px;"><input id="notificationType" /></span>
    </div>-->
    
  <div id="sendNotificationDivMsg" style="display:none">
    <ul data-role="listview" data-style="inset" style="margin-top:25px">
        <li class="username"><input type="text" class="k-textbox" id="notificationTitleValue" placeholder="Notification Title"/></li>
    </ul>
			   
    <div id="enterNotification" class="share-form-wrp" style="margin-top:-30px" data-role="listview" data-style="inset">
         <!--<div class="user-avatar">
            <img data-bind="attr:{src: me.get('data').PictureUrl}" alt="styles/images/avatar.png" />
        </div>-->
        <!--<h2 class="person-name" data-bind="text: me.get('data').DisplayName">Me</h2>-->
        <div class="user-share">
            <textarea id="notificationDesc" placeholder="Write Notification Message to Send ?" required validationMessage="Please Enter Notification Message!"></textarea>
        </div>
    </div>
    
    <div style="color:#1B205E;margin-top:10px;margin-bottom:10px;margin-left:10px;">
     <label style="color:#1B205E"><input type="checkbox" id="comment_allow" value="" />Comment Allow</label>   
    </div>
    
    
     <li style="width:100%;margin-bottom:30px;">
          <span data-role="button" style="background-color:#33539E;width:90%" data-bind="click: sendNotificationMessage">
	           <a data-role="button" style="background-color:#33539E ;width:100%;text-align:center;">Send Notification</a>
          </span>
     </li>
   
  </div>           
</div>


		<script type="text/x-kendo-template" id="orgNameTemplate"> 
    		<div class="cf" data-role="touch" data-bind="events: { tap: sendNotificationOrg }">				            
	    		<div class="activity-content"style="padding-top:10px;">
       		     <h2 id="activityTemplateTitle" class="orgNameList">${org_name}</h2>
        		</div>
    		</div>            
		</script>


		<script type="text/x-kendo-template" id="groupNameTemplate"> 
    		<div class="cf" data-role="touch" data-bind="events: { tap: sendNotificationGroup }">				            
	    		<div class="activity-content"style="padding-top:10px;">
       		     <h2 id="activityTemplateTitle" class="orgNameList">${group_name}</h2>
        		</div>
    		</div>            
		</script>


		<script type="text/x-kendo-template" id="typeNameTemplate">
    		<div class="cf">				            
	    		<div class="activity-content" style="padding-top:10px;">
       		     <h2 id="activityTemplateTitle" class="orgNameList">${text}</h2>
        		</div>
    		</div>            
		</script>



	<script type="text/x-kendo-template" id="adminOrganisationTemplate">
    		<div class="cf" data-role="touch" data-bind="events: { tap: organisationSelected }">        
         #if(org_logo===null ||org_logo==='null' ){#            
        	<div class="user-avatar">
            	<img src="styles/images/habicon.png"/>
        	</div>
            
        #}else{#
                          
 	   	<div class="user-avatar">
                 <img src=${imageSource} />
     	       <!--<img id="logoOrg" data-bind="attr: { src:imageSource, alt: imageAlt }" />-->   
    		</div>
        #}#    
	    
           		 
                <div class="activity-content" >
       		     <h2 id="activityTemplateTitle" class="orgNameList" style="margin-left:-3px;color:rgb(107,111,116);" >${orgName}</h2>
            
            		<!--#if(bagCount!=='D'){#
						<div class="divBagVal"></div>            
            		#}#--> 
            
        		     <a id="activityTemplateMessage" class="orgContentMsg" style="color:rgb(188,188,188);" >${orgDesc}</a>            			            
       		 </div>
		    </div>
	</script>




<script type="text/x-kendo-template" id="userReplyTemplate">
   	<div class="cf" data-role="touch" data-bind="events: { tap: clickOnUserName }" >
         #if(org_logo===null ||org_logo==='null' ){#            
        	<div class="user-avatar">
            	<img src="styles/images/habicon.png"/>
        	</div>
            
        #}else{#
                          
 	   	<div class="user-avatar">
                 <img src=${imageSource} />
     	       <!--<img id="logoOrg" data-bind="attr: { src:imageSource, alt: imageAlt }" />-->   
    		</div>
        #}#    
       		 <div class="activity-content">
       		     <h2 id="activityTemplateTitle" class="person-name" >${orgName}</h2>
       		     <a id="activityTemplateMessage" class="user-share-txt" >${orgDesc}</a>            			            
       		 </div>
	   </div>
</script>


		
    <script type="text/x-kendo-template" id="errorTemplate">    		
            <div class="cf" style="margin-top:50%">
       		 <div style="border-radius:12px;margin-left:10%;margin-right:10%;background-color:rgb(27,43,89);padding-top:.5px;padding-bottom:.5px;" >
       		     <h5 style="color:rgb(255,255,255);" >${message}</h5>
                </div>
		    </div>
	</script>
