<!--data-transition="zoom"-->

    <div data-role="view" id="adminOrgNewsList" data-id="innerActivity" data-layout="default" class="activities-view"  data-model="app.adminNews" data-show ="app.adminNews.show" >

        <div data-role="header" style="border-bottom:2px solid #BABBBF">         
              <div data-role="navbar">     
                 <span> All News </span>
                 <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.adminNews.goToManageOrgPage"></a>    
                 <a style="background:transparent; border:none;" data-icon="add" data-align="right" data-role="button" data-click="app.adminNews.goToAddNewsPage"></a>                  
              </div>                                          
        </div>

        <div class="loader" id="adminNewsListLoader" style="display:none;margin-top:50%">
                      <div class="ball"></div>
        </div>
        
        <ul id="orgAllNewsList" data-style="inset" data-role="listview" data-template="newsListTemplate"   data-bind="source: activities"></ul>
          
    </div>


		<script type="text/x-kendo-template" id="newsListTemplate" >            
            
           #if(id!==0){#
            <div class="cf" data-role="touch" data-bind="events: { tap: editNews }">         
              <div class="notiList-content">            
                    <div class="dateDisplay">
                        <span id="activityTemplateDate" class="dateValue">${news_date} , ${news_time}</span>
                        <hr class="dateLine"/>
                        <span></span>
                    </div>                                            
                <br/>
                <br/>            
                <a id="activityTemplateMessage" class="orgContentMsg">#= news_desc #</a>          
                #if (news_image!=='' && news_image!=='0') {#
                    <br/>
                    <img src= ${news_image} style="max-height:200px;margin-top:10px;" /> 
                #}#    
  		    </div>               
		    </div>   
         #}else{#
            <div class="cf"> 
   		     <div id="activityTemplateTitle" class="HeadingClass">No News</div>
                <a id="activityTemplateMessage" class="orgContentMsg">#= news_desc #</a>          
            </div>                            
          #}#
   

		</script>



<div data-role="view" id="adminAddNews" data-id="innerActivity" data-layout="default" class="activities-view"  data-model="app.adminNews" data-show ="app.adminNews.addEventshow">

    <div data-role="header" style="border-bottom:2px solid #BABBBF">         
              <div data-role="navbar">   
                 <span> Add News </span>
                 <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.adminNews.goToNewsListPage"></a>
                 <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callAdminOrganisationList"></a>
              </div>                                          
    </div>
    
    
    <div data-role="content">
    	<div id="enterNotification" class="textWithTextArea" >             
            
           <!--<div class="textareaClass" >
	             <textarea id="addNewsDesc" placeholder="Please Enter News Here"></textarea>    
           </div>
           <br/>-->
            
           <span id="activityTemplateDate"  class="defineTitleText">News :</span> 
                <br/>
                <br/>

           <textarea  id="addNewsDesc" placeholder="Please Enter News Here" class="common"></textarea> 
                <br/>
                <br/>
 
	       <!--<textarea rows="9" class="defineTextArea" id="addNewsDesc" placeholder="Please Enter News Here"></textarea>               
           <br/>-->
            
            <span id="activityTemplateDate"  class="defineTitleText" >News Date :</span> 
            
            <div style="margin-top:20px;">
                <input id="adddatePickerNews" onkeydown="return false;" style="width:180px;"/>
            </div>
            <br/>
            
            <span id="activityTemplateDate"  class="defineTitleText" >News Time :</span> 
                <div style="margin-top:20px;" >
                    <input id="adddateTimePickerNews" onkeydown="return false;" style="width:180px;"/>
                </div>
            
            <div id="newsAttachment" style="margin-top:10px;height:70px; width:100%;">
                <div style="display:inline;">                   
                    <a style="background:transparent; border:none;float:left" data-icon="toprated" data-role="button" data-rel="actionsheet" data-align="left" href="#newsImgSelect" ></a>
                    <img id="attachedImgNews" src="" alt="" align="right"  style="max-height:50px; max-width:100px;margin-left:10px;float:left;border:none;display:none"/>                    

                    <a id="removeNewsAttachment" style="border:none;display:none;margin-left:15px;" data-icon="sounds" data-align="right" data-role="button" data-bind="click: removeImage"></a>

                    <div style="width:180px,height:80px;margin-left:110px;margin-top:-30px;position:absolute;">                        
                        <video id="attachedVidNews" width="150" height="80" controls style="display:none">
                             <source src="" type="">
                        </video>
                    </div>                    

                </div>
                
                <ul data-role="actionsheet" id="newsImgSelect">
                    <li class="km-actionsheet-title"></li>
                    <li>
                        <a href="#" data-role="button" data-bind="click: getTakePhoto">Take Photo</a>
                    </li>
                    <li>
                        <a href="#" data-role="button" data-bind="click: getPhotoVal">Album</a>
                    </li>
                    <li>
                        <a href="#" data-role="button" data-bind="click: getVideoVal">Video</a>
                    </li>
                </ul>
            </div>           
        </div>         
           <li class="defineSaveButton" data-role="touch" data-bind="events: { tap: addNewNewsFunction }">
                 Save
           </li>
    </div>
    <!--<div data-role="footer">
       	 <div id="manageOrgFooter" data-role="tabstrip" data-selected-index="2">
                <a id="" data-icon="more" data-role="button" data-bind="click: orgAllNewsList" >All News</a>
            </div>
    </div>-->   
</div>




<div data-role="view" id="adminEditNews" data-id="innerActivity" data-layout="default" class="activities-view"  data-model="app.adminNews" data-show ="app.adminNews.editNewsshow" >

    <div data-role="header" style="border-bottom:2px solid #BABBBF">         
              <div data-role="navbar">     
                 <span> Edit News </span>
                 <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.adminNews.goToNewsListPage"></a>    
                 <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callAdminOrganisationList"></a>
              </div>                                          
    </div>
       
        <div data-role="content">
          <div id="enterNotification" class="textWithTextArea">
           <span id="activityTemplateDate"  class="defineTitleText" >News :</span> 
            <br/>
            <br/>

           <textarea  id="editNewsDesc" placeholder="Please Enter News Here" class="common"></textarea> 
            <br/>
            <br/>
 
   
	       <!--<textarea rows="9" class="defineTextArea" id="editNewsDesc" placeholder="Please Enter News Here"></textarea>               
           <br/>-->
            
           <!--<div class="textareaClass">
	             <textarea id="editNewsDesc" placeholder="Please Enter News Here"></textarea>    
           </div>            
                <br/>
            -->
             
            <span id="activityTemplateDate"  class="defineTitleText" >News Date :</span> 
            
            <div style="margin-top:20px;" >
                <input id="editdatePickerNews" onkeydown="return false;" style="width:180px;"/>
            </div>
            <br/>
            
            <span id="activityTemplateDate"  class="defineTitleText" >News Time :</span> 
                <div style="margin-top:20px;" >
                    <input id="editdateTimePickerNews" onkeydown="return false;" style="width:180px;"/>
                </div>
            
          </div>
            
          <div id="newsAttachment" style="margin-top:10px;margin-bottom:10px;height:50px; width:100%;">
                <div style="display:inline;height:100px; width:100%;">                    
                    <a style="background:transparent; border:none;float:left" data-icon="toprated" data-role="button" data-rel="actionsheet" data-align="left" href="#newsEditImgSelect" ></a>
                    <img id="attachedImgEditNews" src="" alt="" align="right"  style="max-height:50px; max-width:100px;margin-left:10px;float:left;border:none;display:none" />
                    <!--<a id="removeEditNewsAttachment" style="border:none;display:none;margin-left:15px;" data-icon="sounds" data-align="right" data-role="button" data-bind="click: removeImageEdit"></a>-->
                </div>
                
                <ul data-role="actionsheet" id="newsEditImgSelect">
                    <li class="km-actionsheet-title"></li>
                    <li>
                        <a href="#" data-role="button" data-bind="click: getTakePhotoEdit">Take Photo</a>
                    </li>
                    <li>
                        <a href="#" data-role="button" data-bind="click: getPhotoValEdit">Album</a>
                    </li>
                </ul>
          </div>   
            

           <li class="defineSaveButton" data-role="touch" data-bind="events: { tap: saveEditNewsData }">
                  Save Change   
           </li>     
            
        </div>    
    
        <div data-role="footer">
       	 <div id="manageOrgFooter" data-role="tabstrip" data-selected-index="2">
                <a id="" data-icon="trash" data-role="button" data-bind="click: deleteNews" > Delete News</a>
            </div>
        </div>

    
</div>


 <script type="text/x-kendo-template" id="errorTemplate">    		
            <div class="cf" style="margin-top:30%;border:none">

                <div class="error-avatar">
                    <img src="styles/images/error.png"/>
                </div>

                <div class="error-content">
                    <h5 style="color:rgb();text-align:center" >${message}</h5>

                    <!--<p style="border-radius:12px;margin-top:0px;background-color:rgb(27,43,89);color:white;padding:2px;left: 50%;margin-left:-30px;position:absolute" >
                        Try Again
                    </p>-->

                </div>
            </div>
</script>



