 	<div data-role="view" id="view-all-activities" data-id="innerActivity" data-layout="innerPages" class="activities-view" data-model="app.GroupList" data-init="app.GroupList.init" data-show="app.GroupList.showGroup">            
       <div data-role="header">           
             <div data-role="navbar">           
                    Delete Groups
                   <a class="nav-button nav-button-back hide-text" data-align="left"  data-role="backbutton">Back</a>
    	     </div>
	    </div>
	
	 		 
    	<div id="example">
        		 <ul id="deleteGroupData" data-template="Group-Delete-template" style="border:none;padding:10px;" ></ul>
    	</div> 
     
         
           <li>
                    <span id="login" data-role="touch" data-bind="events: { tap: deleteGroupFunc }" style="padding:10px;float:right;">
                     	 <a data-role="button" style="background-color:#33539E">Delete Group</a>   
                    </span>
           </li>
	</div> 
     
     
   <script id="Group-Delete-template" type="text/x-kendo-template">
       <li class="deleteGroupShow">
        	<label ><input type="checkbox" name="chkValue" value="${groupID}" /> ${groupName} </label>
	   </li>	       
   </script>
