<div data-role="view" id="editProfile" data-layout="default" class="activities-view" data-model="app.OragnisationList"
     data-show="app.OragnisationList.editProfileShow" data-transition="zoom">
    <div data-role="header">
        <div data-role="navbar">
            Edit Profile

            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="backbutton"></a>
            <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callUserLogin"></a>

            <!--<a style="width: 3.5em;height:3.5em;margin-top:-.5px; border: 0 none;  background-position: 0 50%;background-color: transparent;" data-align="left" data-role="backbutton"><img src="styles/images/icon-arrow_left.png " style="background-position: .65em 50%;width:100%;height:90%"/></a>-->
            <!--<a class="nav-button nav-button-add hide-text" data-align="right" data-role="button" data-bind="click: addNewRegistration">Add</a>
            <a style="width: 2em;height:2.5em;padding-bottom:2px;border: 0 none;  background-position: 0 50%;background-color: transparent;" data-align="left" data-role="backbutton"><img src="styles/images/icon-arrow_left.png" style="background-position: .65em 50%;"/></a>-->
        </div>
    </div>

    <div>
        <form>
            <ul data-role="listview" data-style="inset">
                <li class="username">
                    <input type="text" class="k-textbox" id="editFirstName" placeholder="First Name" />
                </li>
                <li class="password">
                    <input type="text" class="k-textbox" id="editLastName" placeholder="Last Name" />
                </li>
                <li class="password">
                    <input type="email" class="k-textbox" id="editEmail" placeholder="Email" />
                </li>
                <!--<li class="username"><input type="number" class="k-textbox" id="editMobile" placeholder="Mobile Number" /></li>-->
            </ul>
        </form>
    </div>

    <li id="registrationNextR" class="defineSaveButton" data-role="touch" data-bind="events: { tap: editProfileFunc }">
        Save

    </li>

</div> 