<div data-role="view" id="eventCalendar" data-id="innerActivity" data-layout="default" class="activities-view-info"  data-model="app.eventCalender" data-show ="app.eventCalender.show">
    <div data-role="header" style="border-bottom:2px solid #BABBBF">         
              <div data-role="navbar">     
                 <span>Events</span>
                 <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.eventCalender.gobackOrgPage"></a>
                 <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callUserLogin"></a>
              </div>                                          
    </div>

    
    <div class="loader" id="CalProcess" style="display:none;margin">
                      <div class="ball"></div>
    </div>
    

    <!--    
         <br/>    
         <br/>
         <div id="calendarContainerDiv" style="width:100%; text-align: center;">
         <div id="calendar"></div>        
    </div>-->

    <span id="eventCalendarFirstAllList" data-style="inset" data-role="listview"  data-bind="source: activities"></span>
        
    <!--<div id="eventDetailDiv" class="calendarEvent-Click" data-role="touch" data-bind="events: { tap: eventMoreDetailClick }">
    
          <p style="color:rgb(122,184,77); text-align:left;">Data: <span id="eventDate" style="color:rgb(147,147,147)"></span></p>
        
          <li style="color:rgb(122,184,77);text-align:left;list-style-type: none;margin-bottom:10px;margin-left:15px;">Event</li>
  	    <li id="eventTitle" style="list-style-type: none;"></li>        
          <span style="color:rgb(122,184,77);text-align:center;margin-left:15px;">Click for More Details</span>
    </div>-->
    
    
        <!--<div data-role="footer">
       	 <div id="manageOrgFooter" data-role="tabstrip" data-selected-index="2">
                <a id="" data-icon="more" data-role="button" data-bind="click: upcommingEventList" >Event List</a>
            </div>
        </div>-->          
</div>




<div data-role="view" id="eventCalendarDetail" data-id="innerActivity" data-layout="default" class="activities-view-info"  data-model="app.eventCalender" data-show ="app.eventCalender.detailShow">
    <div data-role="header" style="border-bottom:2px solid #BABBBF">         
              <div data-role="navbar">     
                  Event
                 <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="backbutton"></a>    
                 <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callUserLogin"></a>
              </div>                                          
    </div>
    <span id="eventCalendarList" data-style="inset" data-role="listview" data-template="calendarTemplate"   data-bind="source: activities"></span>       
</div>

		<script type="text/x-kendo-template" id="calendarTemplate">
            <!--data-bind="events: { tap: activitySelected }"-->            
            <div data-role="touch" >
       		<div>       
                  #if (event_image!=='' && event_image!=='0' && upload_type==="image"){# 
                        <img id="eventBannwe" style="max-height:150px;width:100%" src=${event_image}>
                  #}else if (event_image!=='' && event_image!=='0' && upload_type==="video"){#          
                        <video  width="300" height="300" controls>
                             <source src=${event_image} >
                        </video>
                  #}else{#
                    <img id="eventBannwe" style="max-height:150px;width:100%" src="styles/images/event_banner.jpg">
                  #}#

                    <div id="activityTemplateTitle" class="eventNameList" style="margin-left:-5px;">${event_name}</div>                                             
       		     <span  id="activityTemplateMessage"  class="orgContentMsg" >${event_desc}</span>            
                    <br/>
                    <br/>

                    <div class="calendarDetail-List" >  
                         <div class="eventDetail-img-show"></div>                    
            		     <a id="activityTemplateMessage"  class="eventDetailTime">${event_above_day},${event_show_day} ${event_below_day} at ${event_time}</a>
                    </div>
                    <div class="calendarDetail-List" >  
                         <div class="eventDetail-img-show-loc"></div>                    
            		     <a id="activityTemplateMessage"  class="eventDetailTime">New Delhi</a>
                    </div>
       		</div>
		    </div>               
		</script>




<!--<div data-role="view" id="CustomerEventList" data-id="innerActivity" data-layout="default" class="activities-view"  data-model="app.eventCalender" data-show ="app.eventCalender.eventListShow">
    <div data-role="header" style="border-bottom:2px solid #BABBBF">         
              <div data-role="navbar">     
                 <span>All Event</span>
                 <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.eventCalender.gobackToCalendar"></a>    
                 <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callUserLogin"></a>
              </div>                                          
    </div>   
    <ul id="eventCalendarAllList" data-style="inset" data-role="listview" data-template="calendarEventListTemplate"   data-bind="source: activities"></ul>    
</div>-->

		<script type="text/x-kendo-template" id="calendarEventListTemplate">
     
             #if(id!=='0' && id!==0){# 
             <div class="cf" data-role="touch"  data-bind="events: { tap: eventSelected }">                            
              <div class="calendarEvent-content">
               
               #if(event_date!==preDateVal){#                  
                 <div>
                    <span id="activityTemplateDate" class="CalenderdateValue">${event_show_day}</span>
                  <span>
                    <span id="activityTemplateDate" class="calDayClass">${event_above_day}</span>
                    <span id="activityTemplateDate" class="calMonthClass">${event_below_day}</span>
                  </span>
                 </div>
                <br/>
       		#}#
                   
                <div class="calendarEvent-List" >                 
                 #if (event_image!=='' && event_image!=='0' && upload_type==="image"){# 
                      <div class="user-avatar-event">
                         <img src=${event_image} />      
                      </div>                                      
                 #}else if (event_image!=='' && event_image!=='0' && upload_type==="video"){#          
                         <div class="event-vid-show"></div>                    
                 #}else {#
                         <div class="event-img-show"></div>                    
                 #}# 
                                                         
                   #if (event_desc.length > 80) {#
                        #event_desc_val = event_desc.substr(0, 80) + '..';#
                   #}else {#
                        #event_desc_val = event_desc;#  
                   #}#
                
       		     <div id="activityTemplateTitle" class="eventNameList" >${event_name}</div> 
       		     <a id="activityTemplateMessage"  class="eventContentMsg">${event_desc_val}</a>            			                                                                  
       		 </div>                
               <div class="calendarEventbelow-List" >           
       	         <span id="activityTemplateDate" class="calanderTimeClass">${event_time}</span>       	            
       		</div>
              </div>                  
 		    </div>   
           #}else{#
              <div class="cf" data-role="touch" >                        
        		<div class="no_calendarEvent-List">       
       		     <div id="activityTemplateTitle" class="HeadingClass" >${event_name}</div> 
       		     <span  id="activityTemplateMessage"  style="color:rgb(147,147,147);padding-right:10px;text-align:justify;" >${event_desc}</span>            			                 
        		</div>
	  	    </div>
           #}#
		</script>

