<!-- class="activities-view-info" -->
<div data-role="view" id="eventCalendar" data-id="innerActivity" data-layout="default" class="activities-view"  data-model="app.eventCalender" data-show ="app.eventCalender.show">

    <div data-role="header" style="border-bottom:2px solid #BABBBF">         
              <div data-role="navbar">     
                 <span>Event Calendar</span>
                 <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.eventCalender.gobackOrgPage"></a>    
                 <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callUserLogin"></a>
              </div>                                          
    </div>

    
    <div class="loader" id="CalProcess" style="display:none;margin-top:50%">
                      <div class="ball"></div>
                      <!--<div class="loading1">Loading...</div>-->
    </div>
    
    <br/>    
    <br/>

    <div id="calendarContainerDiv" style="width:100%; text-align: center;">

         <div id="calendar"></div>
        
    </div>

    <ul id="eventCalendarFirstAllList" data-style="inset" data-role="listview"  data-bind="source: activities"></ul>
        
    <div id="eventDetailDiv" class="calendarEvent-Click" data-role="touch" data-bind="events: { tap: eventMoreDetailClick }">
        
       <p style="color:rgb(122,184,77); text-align:left;">Data: <span id="eventDate" style="color:rgb(147,147,147)"></span></p>
        
          <li style="color:rgb(122,184,77);text-align:left;list-style-type: none;margin-bottom:10px;margin-left:15px;">Event</li>
  	    <li id="eventTitle" style="list-style-type: none;"></li>        
          <span style="color:rgb(122,184,77);text-align:center;margin-left:15px;">Click for More Details</span>
    </div>
    
    
        <!--<div data-role="footer">
       	 <div id="manageOrgFooter" data-role="tabstrip" data-selected-index="2">
                <a id="" data-icon="more" data-role="button" data-bind="click: upcommingEventList" >Event List</a>
            </div>
        </div>-->   

       
</div>




<div data-role="view" id="eventCalendarDetail" data-id="innerActivity" data-layout="default" class="activities-view"  data-model="app.eventCalender" data-show ="app.eventCalender.detailShow">

    <div data-role="header" style="border-bottom:2px solid #BABBBF">         
              <div data-role="navbar">     
                  All Event List
                 <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="backbutton"></a>    
                 <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callUserLogin"></a>
              </div>                                          
    </div>

    <ul id="eventCalendarList" data-style="inset" data-role="listview" data-template="calendarTemplate"   data-bind="source: activities"></ul>
       
</div>


		<script type="text/x-kendo-template" id="calendarTemplate">
            <!--data-bind="events: { tap: activitySelected }"-->
            
            <div class="cf" data-role="touch" >                        
       		<div class="calendarEvent-List" >
             
       		     <div id="activityTemplateTitle" class="HeadingClass" >${event_name}</div>
                                                    
       		     <span  id="activityTemplateMessage"  style="color:rgb(147,147,147);padding-right:10px;" >${event_desc}</span>            			            
            
                    #if (event_image!=='' && event_image!=='0') {#
                        <br/>
                        <img src= ${event_image} style="max-height:200px;margin-top:10px;" /> 
                         <br/>
                    #}#            
                    <br/>
                    <span id="activityTemplateDate"  style="margin-top:5px;padding-right:2px;color:rgb(122,184,77)">Event Start Time: <span style="color:rgb(147,147,147);"> ${event_time}</span></span>       	

       		</div>
		    </div>   
            
		</script>




<div data-role="view" id="CustomerEventList" data-id="innerActivity" data-layout="default" class="activities-view"  data-model="app.eventCalender" data-show ="app.eventCalender.eventListShow">

    <div data-role="header" style="border-bottom:2px solid #BABBBF">         
              <div data-role="navbar">     
                 <span>All Event</span>
                 <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.eventCalender.gobackToCalendar"></a>    
                 <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callUserLogin"></a>
              </div>                                          
    </div>
    
    <ul id="eventCalendarAllList" data-style="inset" data-role="listview" data-template="calendarEventListTemplate"   data-bind="source: activities"></ul>
    
</div>

		<script type="text/x-kendo-template" id="calendarEventListTemplate">
            <!--data-bind="events: { tap: activitySelected }"-->
            
            <div class="cf" data-role="touch" >         
               
       		<div class="calendarEvent-List" >
             
       		     <div id="activityTemplateTitle" class="HeadingClass" >${event_name}</div>
  
       		     <span  id="activityTemplateMessage"  style="color:rgb(147,147,147);padding-right:10px;text-align:justify;" >${event_desc}</span>            			            
            
                     #if (event_image!=='' && event_image!=='0') {#
                        <br/>
                        <img src= ${event_image} style="max-height:200px;margin-top:10px;" /> 
                         <br/>
                    #}#            

                    <br/>
            

                  #if(id!== 0){#
                    <span id="activityTemplateDate"  style="float:left;margin-top:5px;padding-right:2px;color:rgb(122,184,77)">Date:<span style="color:rgb(147,147,147);"> ${event_show_date} </span></span>       	            

                    <span id="activityTemplateDate"  style="float:right;margin-top:5px;padding-right:2px;color:rgb(122,184,77)">Time:<span style="color:rgb(147,147,147);">${event_time}</span></span>       	            
                   #}#            
            
                    <!--data-click="app.adminEventCalender.editEvent"-->
                    <!--data-click="app.adminEventCalender.deleteEvent"-->

                   <!--             <br/>
                    <br/>

                   <div style="margin-top:10px;color:rgb(53,152,219);"><div style="float:left;" data-role="touch" data-bind="events: { tap: editEvent }"><u>Edit Event</u></div>                            
                   <div style="float:right;" data-role="touch"  data-bind="events: { tap: deleteEvent }"><u>Delete Event</u></div> </div>
                                <br/>
                    <br/>

                    -->
            
       		</div>

		    </div>   
            
		</script>

