<!-- class="activities-view-info" -->
<div data-role="view" id="eventCalendar" data-id="innerActivity" data-layout="default" class="activities-view"  data-model="app.eventCalender" data-show ="app.eventCalender.show" data-transition="zoom">

    <div data-role="header" style="border-bottom:2px solid #BABBBF">         
              <div data-role="navbar">     
                 <span>Event Calendar</span>
                 <a class="nav-button nav-button-back hide-text" data-align="left" data-role="button" data-click="app.eventCalender.gobackOrgPage">Back</a>    
                 <a class="nav-button nav-button-home hide-text" data-align="right" data-role="button" data-click="app.callUserLogin">home</a>
              </div>                                          
    </div>

    
    <div class="loader" id="CalProcess" style="display:none;margin-top:50%">
                      <div class="ball"></div>
                      <div class="loading1">Loading...</div>
    </div>
    

    <div id="calendarContainerDiv" class="demo-section k-header" style="width:100%; text-align: center;">

         <div id="calendar"></div>
        
    </div>
    
    
    <div id="eventDetailDiv" style="background-color:rgb(253,255,133) ; margin:10px;padding:10px;border-radius:6px;display:none;width:94%" data-role="button" data-click="app.eventCalender.eventMoreDetailClick">
        
       <p style="color:rgb(53,152,088); text-align:left;">Data: <span id="eventDate" style="color:rgb(53,152,219)"></span></p>
        
                <li style="color:rgb(53,152,088);text-align:left;list-style-type: none;margin-bottom:10px;margin-left:15px;">Event</li>
  			  <li id="eventTitle" style="list-style-type: none;"></li>
        
       <!--<p style="color:rgb(53,152,088);text-align:left;">Event Title: <span id="eventTitle" style="color:rgb(53,152,219);"></span></p> 
        
       <p style="color:rgb(53,152,088);text-align:left;">Event Time: <span id="eventTime" style="color:rgb(53,152,219);"></span></p> -->
        
        <span style="color:rgb(53,152,088);">Click for More Details</span>
    </div>
    
    
        <div data-role="footer">
       	 <div id="manageOrgFooter" data-role="tabstrip" data-selected-index="2">
                <a id="" data-icon="more" data-role="button" data-bind="click: upcommingEventList" >Event List</a>
            </div>
        </div>   

       
</div>




<div data-role="view" id="eventCalendarDetail" data-id="innerActivity" data-layout="default" class="activities-view"  data-model="app.eventCalender" data-show ="app.eventCalender.detailShow" data-transition="zoom">

    <div data-role="header" style="border-bottom:2px solid #BABBBF">         
              <div data-role="navbar">     
                  All Event List
                 <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">Back</a>    
                 <a class="nav-button nav-button-home hide-text" data-align="right" data-role="button" data-click="app.callUserLogin">home</a>
              </div>                                          
    </div>

    <ul id="eventCalendarList" data-style="inset" data-role="listview" data-template="calendarTemplate"   data-bind="source: activities"></ul>
       
</div>



		<script type="text/x-kendo-template" id="calendarTemplate">
            <!--data-bind="events: { tap: activitySelected }"-->
            
            <div class="cf" data-role="touch" >         
               
       		<div class="activity-content" style="background-color:rgb(253,255,133);padding:10px;border-radius:6px;" >
             
       		     <h2 id="activityTemplateTitle" style="margin-left:-3px; color:rgb(53,152,219);" >${event_name}</h2>
                                                    

                <span id="activityTemplateDate"  style="padding-right:2px;color:rgb(53,152,088)">Event Detail :</span>       	
                                <br/>
                    <br/>


       		     <span  id="activityTemplateMessage"  style="color:rgb(188,188,188);padding-right:10px;" >${event_desc}</span>            			            
                    <br/>
                    <br/>
                    <br/>

                    <span id="activityTemplateDate"  style="padding-right:2px;color:rgb(53,152,088)">Event Start Time: ${event_time}</span>       	

       		</div>
		    </div>   
            
		</script>




<div data-role="view" id="CustomerEventList" data-id="innerActivity" data-layout="default" class="activities-view"  data-model="app.eventCalender" data-show ="app.eventCalender.eventListShow" data-transition="zoom">

    <div data-role="header" style="border-bottom:2px solid #BABBBF">         
              <div data-role="navbar">     
                 <span>All Event</span>
                 <a class="nav-button nav-button-back hide-text" data-align="left" data-role="button" data-click="app.eventCalender.gobackToCalendar">Back</a>    
                 <a class="nav-button nav-button-home hide-text" data-align="right" data-role="button" data-click="app.callUserLogin">home</a>
              </div>                                          
    </div>
    
    <ul id="eventCalendarAllList" data-style="inset" data-role="listview" data-template="calendarEventListTemplate"   data-bind="source: activities"></ul>
    
</div>

		<script type="text/x-kendo-template" id="calendarEventListTemplate">
            <!--data-bind="events: { tap: activitySelected }"-->
            
            <div class="cf" data-role="touch" >         
               
       		<div class="activity-content" style="background-color:rgb(253,255,133);padding:10px;border-radius:6px;" >
             
       		     <h2 id="activityTemplateTitle" style="margin-left:-3px; color:rgb(53,152,219);" >${event_name}</h2>
                  #if(id!== 0){#

                    <span id="activityTemplateDate"  style="padding-right:2px;color:rgb(53,152,088)">Event Detail :</span>       	
                    <br/>  
                              #}#            
 
       		     <span  id="activityTemplateMessage"  style="color:rgb(188,188,188);padding-right:10px;" >${event_desc}</span>            			            
                    <br/>
                    <br/>
                    <br/>

                  #if(id!== 0){#
                    <span id="activityTemplateDate"  style="padding-right:2px;color:rgb(53,152,088)">Event Start Date: ${event_date}</span>       	            
                                <br/>
                    <br/>


                    <span id="activityTemplateDate"  style="padding-right:2px;color:rgb(53,152,088)">Event Start Time: ${event_time}</span>       	            
                   #}#            
            
                    <!--data-click="app.adminEventCalender.editEvent"-->
                    <!--data-click="app.adminEventCalender.deleteEvent"-->

                   <!--             <br/>
                    <br/>

                   <div style="margin-top:10px;color:rgb(53,152,219);"><div style="float:left;" data-role="touch" data-bind="events: { tap: editEvent }"><u>Edit Event</u></div>                            
                   <div style="float:right;" data-role="touch"  data-bind="events: { tap: deleteEvent }"><u>Delete Event</u></div> </div>
                                <br/>
                    <br/>

                    -->
            
       		</div>

		    </div>   
            
		</script>