<div data-role="layout" data-id="mobile-tabstrip">
   <div data-role="header">  
       
              <div data-role="navbar">     
                 <span data-role="view-title"></span> 
             	<a style="width: 2em;height:2.5em;padding-bottom:2px;border: 0 none;  background-position: 0 50%;background-color: transparent;" data-align="left" data-role="button" data-click="app.OragnisationList.logout"><img src="styles/images/icon-arrow_left.png" style="background-position: .65em 50%;"/></a>		         
                 <a id="moreOption"  style="width: 2.5em;height:2.5em;padding-bottom:2px;border: 0 none;  background-position: 0 50% ; background-color: transparent;"  data-align="right" href="#moreFeature" data-role="button" data-rel="popover"><img src="styles/images/icon-add.png" style="background-position: .65em 50%;"/></a>                                  
                 <a id="goToAdmin" data-align="right" data-role="button" data-click="app.callOrganisationLogin">Admin</a> 
              </div>              
                            
	          <div id="upperMainTab" data-role="tabstrip" style="border-top:2px solid #2D384C">
	           		<a data-icon="history" href="#organisationNotiList">Notification</a>
					   <a data-icon="globe" href="#organisationDiv">Organisation</a>
        	    	   <a data-icon="contacts" href="#profileDiv">Profile</a>            
              </div>     
   </div>
</div>
 


<div data-role="view" id="organisationNotiList" data-id="innerActivity" data-layout="mobile-tabstrip" data-title="Notification List" class="activities-view" data-model="app.OragnisationList" data-init="app.OragnisationList.init" data-show="app.OragnisationList.show" data-after-show="app.OragnisationList.afterShow" data-before-Show="app.OragnisationList.beforeShow">             
	 <!--data-append-on-refresh="true"-->	

     <div>
    	<ul id="organisation-listview" data-style="inset" data-role="listview" data-template="organisationTemplate" data-pull-to-refresh="true" data-bind="source: activities" ></ul>
	         <p id="no-activities-span" hidden="hidden" class="no-items-msg">
		    	   <b>You have no Notification for you.</b>
    		 </p>
 	</div> 
   <!--<a id="callUsView" data-icon="contacts" data-role="button" data-bind="click: makeCall">Call Us</a>
            <a id="websiteView" data-icon="favorites" data-role="button" data-bind="click: inAppBrowser">Website</a>
            <a id="aboutUsView" data-icon="info" data-role="button" data-bind="click: about">About Us</a>
            <a id="settingView" data-icon="settings" data-role="button" data-bind="click: setting" >Setting</a>-->
   
    
	    <div data-role="popover" id="moreFeature" data-use-native-scrolling="true" >
    	    <div data-role="view" id="popUpView" data-title="view1">
                             	   <li class="popMoreButton"><a  data-bind="click: makeCall"></a>Call Us</li>
                            		<li class="popMoreButton"><a   data-bind="click: inAppBrowser">Website</a></li>
                            		<li class="popMoreButton"><a data-bind="click: about">About Us</a></li>
                                    <li class="popMoreButton"><a data-bind="click: setting">Setting</a></li>
    		</div>
    	</div>    
</div>

	<div data-role="view" id="infoDiv" data-model="app.Activities">
		<div data-role="header">
        	<div data-role="navbar">
            	Sakshay Web Technologies
         	<a class="nav-button nav-button-back hide-text" data-align="left" data-role="button" href="#view-all-activities"></a>
         	</div>
    	</div>
    	<hr style="margin-top:0px;"/>
    	<div data-role="content">
        	<ul data-role="listview">
		    	<p>Welcome to Our Organisation</p>
    	    </ul>
    	</div>
    
    	<div data-role="footer">
        	<div data-role="tabstrip">
            	<a data-icon="contacts" data-role="button" data-bind="click: makeCall">Call Us</a>
            	<a data-icon="favorites" data-role="button" data-bind="click: inAppBrowser">Website</a>
            	<a  data-icon="info" data-role="button" href="#view-all-notification">About Us</a>
            	<a data-icon="settings" data-role="button" href="#settingDiv">Setting</a>
        	</div>
	   </div>   
	</div>


<div data-role="view" id="organisationDiv"  data-id="innerActivity" data-layout="mobile-tabstrip" data-title="Organisation List" class="activities-view" data-model="app.OragnisationList" data-show="app.OragnisationList.orgShow">
  	
    <div>
      <ul id="organisation-listview1" data-style="inset" data-role="listview" data-template="orgTemplate" style="padding:10px;"></ul>
    	<p id="no-notification-span" hidden="hidden" class="no-items-msg">
    	   <b>You have no Notification yet.</b>
    	</p>
 	</div>     
</div>



<div data-role="view" id="profileDiv"  data-id="innerActivity" data-layout="mobile-tabstrip" data-title="Profile" class="activities-view" data-model="app.OragnisationList" data-init="app.OragnisationList.userProfileInt" data-show="app.OragnisationList.userProfileShow">
    <div id="tabstrip-profile">
      <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            <ul>
                <li><h2><span id="userfname"></span></h2><h2><span id="userlname"></span></h2><img src="styles/images/userProfile.png" /></li>
            </ul>
        </li>
         
        <li>
            <ul>
                <li>Email <span class="sales-up" id="userEmailId"></span></li>
                <li>Mobile No <span class="sales-up" id="userMobileNo"></span></li>
            </ul>
        </li>
  

        <li>
            <ul>
                <li style="text-align:center;font-weight:bold;color:#1B205E">Organisation</li>
  			  <li id="orgData"></li>
            </ul>
        </li>
          
	    </ul>   
    </div>         
</div>


<style scoped>
    #tabstrip-profile h2 {
        display: inline-block;
        font-size: 1.1em;
        margin: 1.5em 0 0 .7em;
    }
    #tabstrip-profile h2 span {
        display: block;
        clear: both;
        font-size: 1.8em;
        margin: .1em 0 0 0;
    }
    #tabstrip-profile img {
        width: 5em;
        height: 5em;
        float: left;
        margin: 1em;
        border: 1px solid rgba(0,0,0,.2);
        -webkit-border-radius: 4em;
        border-radius: 4em;
    }

    .sales-down,
    .sales-hold,
    .sales-up,
    .value {
        float: right;
    }
    .sales-up { color: green; }
    .sales-down { color: red; }
    .sales-hold { color: blue; }
    .value { color: #bbb; }
</style>


<div data-role="view" id="settingDiv" data-model="app.Activities">
	<div data-role="header">
        <div data-role="navbar">
            Setting
         <a class="nav-button nav-button-back hide-text" data-align="left" data-role="button" href="#view-all-activities"></a>
         </div>
    </div>
    <hr style="margin-top:0px;"/>
    
    <div data-role="content">
        <ul data-role="listview">
		    	<p>Welcome to Setting Page</p>
        </ul>
    </div>
    
    <div data-role="footer">
        <div data-role="tabstrip">
            <a data-icon="contacts" data-role="button" data-bind="click: makeCall">Call Us</a>
            <a data-icon="favorites" data-role="button" data-bind="click: inAppBrowser">Website</a>
            <a  data-icon="info" data-role="button" href="#view-all-notification">About Us</a>
            <a data-icon="settings" data-role="button" href="#settingDiv">Setting</a>
        </div>
   </div>   
</div>
	

		<script type="text/x-kendo-template" id="organisationTemplate">
    		
            <div class="cf" data-role="touch" data-bind="events: { tap: organisationSelected }">

        #if(org_logo===null){#   
         <div class="user-avatar">
            <img src="styles/images/habicon.png">
        </div>
        #}else{#
         <div class="user-avatar">
           <img id="logo" data-bind="attr: { src: imageSource, alt: imageAlt }" />  
        </div>             
         #}#  
             
       		 <div class="activity-content" >
       		     <h2 id="activityTemplateTitle" class="orgNameList" style="margin-left:-3px;color:rgb(107,111,116);" >${orgName}</h2>
            
            		#if(bagCount!==0){#
						<div class="divBagVal" style="color:rgb(255,255,255);text-align:center;padding-top:5px;">${bagCount}</div>            
            		#}# 
            
       		     <!--<span id="activityTemplateDate" class="time-span" >${CreatedAtFormatted()}</span>-->
       		     <a id="activityTemplateMessage" class="orgContentMsg" style="color:rgb(188,188,188);" >${orgDesc}</a>            			            
       		 </div>
		    </div>
		</script>


	<!-- Activities ListView Template -->
		<script type="text/x-kendo-template" id="orgTemplate"> 
    		<div class="cf" data-role="touch" data-bind="events: { tap: orgForGroupSelected }">				            
         #if(imgData===null ||imgData==='null' ){#            
        	<div class="user-avatar">
            	<img src="styles/images/habicon.png"/>
        	</div>
            
        #}else{#
             
             #console.log(imgData)#
             #console.log(imageSourceOrg)#
             
 	   	<div class="user-avatar">
                 <img src=${imageSourceOrg} />
     	       <!--<img id="logoOrg" data-bind="attr: { src:imageSource, alt: imageAlt }" />-->   
    		</div>
        #}#    
	    		<div class="activity-content">
       		     <h2 id="activityTemplateTitle" class="orgNameList" style="margin-left:-3px;color:rgb(107,111,116);" >${org_name}</h2>
             #if(role==='O' ){#
                 <div style="text-align:center;float:right;"><img src="styles/images/admin.png" style="width=35px;height:25px;" /></div>
             #}#
                    <a id="activityTemplateMessage" class="orgContentMsg" style="color:rgb(188,188,188);" >${orgDesc}</a> 
        		</div>
    		</div>
		</script>
