<div data-role="view" id="share" data-layout="default" data-transition="overlay:down" class="add-comment-view"
    data-init="app.AddComment.init" data-show="app.AddComment.show" data-model="app.AddComment">
   
    <div data-role="header">
        <div data-role="navbar">
          <span>My Profile</span>
          <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">Back</a> 
         <!-- <a class="nav-button" data-align="right"  data-role="button" href="views/editProfile.html">Edit</a>
           <a class="nav-button nav-button-add hide-text" data-align="right" data-role="button" href="views/addActivityView.html">Add</a>-->   
         </div>
    </div>

    	
    <div id="enterComment" class="share-form-wrp" data-role="listview" data-style="inset">
        <div class="user-avatar">
            <img data-bind="attr:{src: me.get('data').PictureUrl}" alt="styles/images/avatar.png" />
        </div>
        
        <h2 class="person-name" data-bind="text: me.get('data').DisplayName">Me</h2>
        <br/>
        <h2 style="color:#7D757B;font-size:12px;">Email:<h2 class="person-name" data-bind="text: me.get('data').Email"></h2></h2>
        <h2 style="color:#7D757B;font-size:12px;">Mobile:<h2 class="person-name" data-bind="text: me.get('data').MobileNo"></h2></h2>
        <h2 style="color:#7D757B;font-size:12px;">Group: <h2 class="person-name" data-bind="text: me.get('data').Group"></h2></h2>
        <h2 style="color:#7D757B;font-size:12px;">Organisation:<h2 class="person-name" data-bind="text: me.get('data').Organisation"></h2></h2>
        <!--<div class="user-share">
            <textarea id="newComment" placeholder="What's on your mind?" required validationMessage="Comment text is required!"></textarea>
        </div>-->
    </div>
</div>
