        <div data-role="view" id="OrgLogin" data-layout="default" class="welcome-scrn form-view" data-model="app.adminLogin" data-init="app.adminLogin.init" data-show="app.adminLogin.show" >
            
            <div data-role="header" style="border-bottom:2px solid #BABBBF">        
              <div data-role="navbar">      
                  Aptifi
                 <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">Back</a>  
                 <!--<a style="width: 3.5em;height:3.5em;margin-top:-.5px; border: 0 none;  background-position: 0 50%;background-color: transparent;" data-align="left" data-role="backbutton"><img src="styles/images/icon-arrow_left.png " style="background-position: .65em 50%;width:100%;height:90%"/></a>-->
              </div>              
	        </div>

            <h3 class="app-name center-text" style="margin-top:30%;">Organisation Login</h3>
                        
            <form id="login-form" data-bind="events: { keyup: checkEnter }" class="">
                <ul data-role="listview" data-style="inset">
                    <li class="username"><input type="number" step="0.01" id="loginMob"  placeholder="Mobile Number" maxlength=10;/></li>
                    <li class="password"><input type="password" id="loginPassword" placeholder="Password"  /></li>
                    <span style="float:right" class="forgetText" data-bind="click: forgetPass">forget Password ?</span>
                </ul>
            
            <ol class="group-wrp">
                <li>
                    <span id="login" data-role="touch" data-bind="events: { tap: login }">
                        <a data-role="button" class="btn btn-login">Login</a>
                    </span>
                </li>
             </ol>    
             </form> 
             
            
               <div class="loader" id="progress1" style="display:none;margin-top:10px;">
                      <div class="ball"></div>
                      <div class="loading">Loading...</div>
               </div>

            
            <div data-role="footer"><p>&copy; <span data-bind="text: getYear"></span> Sakshay Web Technologies.</p></div>
        </div>