<div data-role="view" id="newsList" data-id="innerActivity" data-layout="default" class="activities-view"  data-model="app.orgNews" data-show ="app.orgNews.show" data-transition="zoom">
    <div data-role="header" style="border-bottom:2px solid #BABBBF">         
              <div data-role="navbar">     
                 <span>Organization News</span>
                 <a class="nav-button nav-button-back hide-text" data-align="left" data-role="button" data-click="app.orgNews.gobackOrgPage">Back</a>    
                 <a class="nav-button nav-button-home hide-text" data-align="right" data-role="button" data-click="app.callUserLogin">home</a>
              </div>                                          
    </div>
    
    <ul id="orgNewsList" data-style="inset" data-role="listview" data-template="orgNewsTemplate"   data-bind="source: activities"></ul>
</div>

		<script type="text/x-kendo-template" id="orgNewsTemplate">

            <div class="cf" data-role="touch" >         
       		<div class="activity-content" style="background-color:rgb(253,255,133);padding:10px;border-radius:6px;" >
  
                 #if(id!==0){#
                 <span id="activityTemplateDate"  style="padding-right:2px;color:rgb(53,152,088)">News Date: ${news_date}</span>       	                         
                           	
                                 <br/>
                                 <br/>
                 #}#
            
               		 <span  id="activityTemplateMessage"  style="color:rgb(188,188,188);padding-right:10px;" >${news_desc}</span>            			            
		       </div>   
            </div>   
            
		</script>