<div data-role="view" id="groupMemberShow" data-id="innerActivity" data-layout="innerPages" class="activities-view" data-model="app.groupDetail" data-show ="app.groupDetail.orgMemberShow">
    <div data-role="header">
        <div data-role="navbar">
            Organization Members
            <!--<a style="width: 3.5em;height:3.5em;margin-top:-.5px; border: 0 none;  background-position: 0 50%;background-color: transparent;" data-align="left" data-role="backbutton"><img src="styles/images/icon-arrow_left.png " style="background-position: .65em 50%;width:100%;height:90%"/></a>-->
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.groupDetail.backToOrgDetail"></a>
            <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callAdminOrganisationList"></a>
        </div>
    </div>

    <div>

        <div class="loader" id="progressAdminOrgMem" style="display:block;">
            <div class="ball"></div>
        </div>

        <ul id="groupMember-listview" data-style="inset" data-role="listview" data-template="groupMemberTemplate" data-bind="source: activities"></ul>
        <p id="no-Group-span" hidden="hidden" class="no-items-msg">
            <b>You have no Notification for you.</b>
        </p>

    </div>

    <div data-role="footer">
        <div id="orgAddMemberTabStrip" data-role="tabstrip" data-selected-index="2">
            <a id="" data-icon="add" data-role="button" data-bind="click: addMemberToGroup" >Add Members</a>
            <a id="adminRemoveMember" data-icon="trash" data-role="button" data-bind="click: removeMemberFromGroup" >Remove Members</a>
        </div>
    </div>
</div>

<div data-role="view" id="removeMemberFromGroup" data-id="innerActivity" data-layout="innerPages" class="activities-view" data-model="app.groupDetail" data-show="app.groupDetail.showGroupToDelete">
    <div data-role="header">
        <div data-role="navbar">
            Delete Members
            <!--<a style="width: 3.5em;height:3.5em;margin-top:-.5px; border: 0 none;  background-position: 0 50%;background-color: transparent;" data-align="left" data-role="backbutton"><img src="styles/images/icon-arrow_left.png " style="background-position: .65em 50%;width:100%;height:90%"/></a>-->
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="backbutton"></a>

            <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callAdminOrganisationList"></a>
        </div>
    </div>

    <div class="loader" id="deleteMemberLoader" style="display:none;">
        <div class="ball"></div>
    </div>
    
    <div id="example">
        <div id="deleteMemberData" style="border:none;padding:10px;" data-template="Member-Delete-template"></div>
    </div>

    <li class="defineSaveButton" data-role="touch" data-bind="events: { tap: removeMemberClick}">
        Delete
    </li>
</div>


<script type="text/x-kendo-template" id="groupMemberTemplate">
    #if(orgID!=='0'){#
    <div class="cf" data-role="touch" data-bind="events: { tap: clickOnOrgMember }">
        <div class="user-avatar-img-show"></div>
        <div class="activity-content" >
            <h2 id="" class="person-name">${first_name} ${last_name}</h2>
            <span id="" class="time-span" >${mobile}</span>
            <a id="activityTemplateMessage" class="user-share-txt">${email}</a>
        </div>
    </div>
    #}else{#
    <div class="cf">
        <div class="user-avatar-img-show"></div>
        <div class="activity-content" >
            <h2 id="" class="person-name">${first_name} ${last_name}</h2>
            <span id="" class="time-span" >${mobile}</span>
            <a id="activityTemplateMessage" class="user-share-txt">${email}</a>
        </div>
    </div>
        
        #}#
</script>


<script  type="text/x-kendo-template" id="Member-Delete-template">
    <div class="deleteGroupShow">
        <label >
            <input type="checkbox" class="largerCheckbox" value="${customerID}" />${first_name} ${last_name}
        </label>
    </div>
</script>



<div data-role="view" id="editMemberInAdmin" data-layout="default" class="activities-view" data-model="app.groupDetail"
     data-show="app.groupDetail.editMemberShow">
    <div data-role="header">
        <div data-role="navbar">
            Edit Member
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="backbutton"></a>
            <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callUserLogin"></a>
        </div>
    </div>

       <div class="loader" id="adminEditCustomer" style="display:none;">
            <div class="ball"></div>
       </div>
    
    <div id="editOrgMemberContent">
        <form>
            <ul data-role="listview" data-style="inset">
                <li class="username">
                    <input type="text" id="editFirstName" placeholder="First Name" />
                </li>
                <li class="password">
                    <input type="text"  id="editLastName" placeholder="Last Name" />
                </li>
                <li class="password">
                    <input type="email" id="editEmail" placeholder="Email" />
                </li>
                <li class="password">
                    <input type="number" pattern="[0-9]*" step="0.01" id="staticMobile" placeholder="Mobile Number"/>
                </li>
            </ul>

            <a style="padding-left:10px;color:#5992CB" data-role="touch" data-bind="events: { tap: addMoreMobileNoPage }">Add More Number</a>

            <div id="showAlternateList" style="padding-left:10px;padding-top:10px;">Alternate Number
                    <ul  id="alternateMobileList" data-role="listview" data-style="inset"></ul>
            </div>
        </form>
        

        <div class="selectGroupClass" >Member Added to Group :</div>
        <div id="groupInEditMember" class="selectDivClass"> </div>


    <li id="registrationNextR" class="defineSaveButton" data-role="touch" data-bind="events: { tap: editProfileFunc }">
        Save
    </li>
   </div>
     
</div>

<script>
    function removeAlternateNo(num){
        var li_Count = num+1;        
        var arrayval = JSON.parse(localStorage["ALTER_ARRAY"]);
        console.log(arrayval);       
        
        var orgId = arrayval[num].org_id;
        var custNo = arrayval[num].customerId;
        var alterId = arrayval[num].id;
        
        console.log(orgId+"/"+custNo+"/"+alterId);

        var dataSourceDeleteAlternateNo = new kendo.data.DataSource({
           
                                                                       transport: {
                        read: {
                                                                                   url: app.serverUrl() + "customer/removeAlternate/"+orgId+"/"+custNo+"/"+alterId,
                                                                                   //url:"http://54.85.208.215/webservice/customer/removeAlternate/19/422/424",                            
                                                                                   type:"POST",
                                                                                   dataType: "json" // "jsonp" is required for cross-domain requests; use "json" for same-domain requests
                                                                               }
                             },
                                                                       schema: {
                        data: function(data) {
                            console.log(data);
                            return [data];
                        }
                    },
                                                                       error: function (e) {
                                                                           //apps.hideLoading();
                                                                           console.log(e);
                                                                           //app.mobileApp.pane.loader.hide();
                                                                           
                                                                           //var objectB = new Object();
                                                                           
                                                                           var objectA = {};
                                                                           objectA.type='check';
                                                                           
                                                                           //app.analyticsService.viewModel.trackException(e,'API Call , Unable to get response from User Edit Profile API.');
                                                                           
                                                                           app.analyticsService.viewModel.trackException(e,'API Call , Unable to get response from User Edit Profile API.'+JSON.stringify(objectA));

                                                                           navigator.notification.alert("Please check your internet connection.",
                                                                                                        function () {
                                                                            }, "Notification", 'OK');
                                                                       }               
                                                                   });  
             
                dataSourceDeleteAlternateNo.fetch(function() {
                    console.log("----------------------------------");
                    var loginDataView = dataSourceDeleteAlternateNo.data();
                    console.log(loginDataView);       
                    $.each(loginDataView, function(i, loginData) {
                        console.log(loginData.status[0].Msg);
                               
                        if (loginData.status[0].Msg==='Success') {
                            //alert("#editMobileLi"+li_Count);
                            $("#editMobileLi"+li_Count).empty();
                            $("#editMobileLi"+li_Count).css("border","none");
                            //app.showAlert("Alternate Number Removed Successfully.", "Notification");
                            
                              if (!app.checkSimulator()) {
                                     window.plugins.toast.showShortBottom('Alternate Number Removed Successfully.');
                              }else {
                                     app.showAlert("Alternate Number Removed Successfully.", "Notification"); 
                              }                            
                        }else {
                            app.showAlert(loginData.status[0].Msg , 'Notification'); 
                        }
                    });
                });
            }
</script>

<div data-role="view" id="addAlternateNumber" data-layout="default" class="activities-view" data-model="app.groupDetail"
     data-show="app.groupDetail.addAlternateNo">

    <div data-role="header">
        <div data-role="navbar">
            Add Alternate Number
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="backbutton"></a>
            <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callUserLogin"></a>
        </div>
    </div>

    <div>
        <form>
            <ul data-role="listview" data-style="inset">
                <li class="password" style="border-bottom:1px solid #eaeced;">
                    <input type="number" pattern="[0-9]*" step="0.01" id="editMobileAlterPage" placeholder="Mobile Number"/>
                </li>                
            </ul>
            <ul  id="alternateMobile" data-role="listview" data-style="inset"></ul>
            <a style="padding-left:10px;margin-top:-10px;color:#5992CB" data-role="touch" data-bind="events: { tap: addMoreMobileNoFunc }">Add More</a>
        </form>
    </div>
    
    <li id="registrationNextR" class="defineSaveButton" data-role="touch" data-bind="events: { tap: editProfileFunc }">
        Save
    </li>
    
</div>


       