<div data-role="view" id="view-all-activities" data-layout="default" class="activities-view" data-model="app.registration"
     data-init="app.registration.regInit" data-show="app.registration.addNewRegistration" >
    <div data-role="header">
        <div data-role="navbar">
            Registration
           <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="backbutton"></a>  
           <!--<a style="width: 3.5em;height:3.5em;margin-top:-.5px; border: 0 none;  background-position: 0 50%;background-color: transparent;" data-align="left" data-role="backbutton"><img src="styles/images/icon-arrow_left.png " style="background-position: .65em 50%;width:100%;height:90%"/></a>-->
        </div>
    </div>
  
     <div id="selectionDivR">  
    	<div>
          <form>
                <ul data-role="listview" data-style="inset">
                    <li class="username"><input type="text" class="k-textbox" id="regFirstName" placeholder="First Name" /></li>
                    <li class="password"><input type="text" class="k-textbox" id="regLastName" placeholder="Last Name" /></li>
                    <li class="password"><input type="email" class="k-textbox" id="regEmail" placeholder="Email" /></li>
                 </ul>
          </form>    
    	</div>  
                <li class="defineSaveButton" data-role="touch" data-bind="events: { tap: registerR }">
                    Next
                </li>
    </div>
    
  <div data-role="view" id="regenerateDivR" style=" position:absolute;right:0;background-color:#ffffff;display:none;margin:20% auto 10px auto; border-radius:6px; padding:10px 10px 10px 10px;border: 2px solid #575B5F;height:300px;width:94%;max-width:600px;overflow:hidden;">

    <div style="vertical-align:middle; text-align:center">
       <img src="styles/images/msgIcon.png" height="100" width="100"/>
    </div>
       
     <div style="vertical-align:middle; text-align:center">
        <span id="userRegMobNumR" style="color:#61B85C;"></span>
    </div>

       
    <div style="text-align:center;color:#BCBCBC;padding-top:10px;">        
        The Verification Code will be sent to this number . If you'd like to change your phone number , please select [Cancel] 
    </div>
         <ol class="reg-group-wrp" style="margin-bottom:10px;">
                <li style="width:100%">
                    <span id="registration" data-role="touch" style="float:right;margin-right:10px;width:45%;padding-top:10px;height:40px;background-color:#7FBF4D;color:#ffffff;" data-bind="events: { tap: clickforValificationCodeR }">
                        Ok
                    </span>
                    
                    <span id="registration" data-role="touch" style="float:left;margin-left:10px;height:40px;padding-top:10px;width:40%;background-color:#303645;color:#ffffff;" data-bind="events: { tap: cancelButtonRCR }">
                        Cancel
                    </span>
                </li>
	     </ol>
  </div>
    
    
    
    
    <div data-role="view" id="validationRowR" style=" position:absolute;right:0;background-color:#ffffff;display:none;margin:20% auto 10px auto; border-radius:6px; padding:10px 10px 10px 10px;border: 2px solid #575B5F;height:380px;width:94%;max-width:600px;overflow:hidden;">

     <!--<span id="" data-role="button" data-bind="click: cancelButtonRCR" style="margin:-20px;background-color: transparent;border:none;display:block;">  
             <img src="styles/images/removeAttachment.png" alt="Smiley face" height="20" width="20" style="float:right;">
     </span>-->
  
    <div style="background-color:#ffffff;color:#313C50;text-align:center;padding:10px;">
       Verification
    </div>
        
       <form id="reg-verification-form" data-bind="events: { keyup: checkEnterCode }" class="">

            <div style="text-align:center;color:#313C50;padding-top:10px;">
                    Verification Code send to your registered Mobile Number . Please use this Verification Code to continue with the Registration.
             <br/>
             <br/> 
                In case multiple Verification Code is generated , use latest Verification Code
                <ul data-role="listview" data-style="inset" style="border-radius:6px;text-align:center;">
                   <li class="username" style="padding-top:15px;border:2px solid #313C50" >
                       <input type="number" pattern="[0-9]*" step="0.01" class="k-textbox" id="validationCodeIdR" placeholder="Verification Code" style="border-radius:6px;text-align:center;"/>               
                   </li> 
                </ul>
            </div>
         <ol class="reg-group-wrp" style="margin-bottom:25x;">
                <li style="width:100%">
                    <span id="registration" data-role="touch" style="float:right;margin-right:10px;width:25.33%;padding-top:10px;height:40px;background-color:#7FBF4D;color:#ffffff;" data-bind="events: { tap: doneVerificationR }">
                        Next
                    </span>
                    
                    <span id="registration" data-role="touch" style="float:left;margin-right:10px;height:40px;padding-top:10px;width:25.33%;background-color:#303645;color:#ffffff;" data-bind="events: { tap: cancelButtonRCR }">
                        Cancel
                    </span>
                    
                    <span id="registration" data-role="touch" style="float:left;margin-right:5px;height:40px;padding-top:10px;width:33.33%;background-color:#303645;color:#ffffff;" data-bind="events: { tap: clickforRegenerateCodeR }">
                        Regenerate
                    </span>
                </li>
	     </ol>
 
       </form>
        <div style="color:#313C50;position:relative;float:left;margin-bottom:25px;margin-top:10px;"> 
	    	Note-: Clicking on Re-Generate will invalidate the previous verification code.  
    	</div>    

  </div>

</div>
