<div data-role="view" id="view-all-activities" data-id="innerActivity" data-layout="innerPages" class="activities-view" data-model="app.userReplyNotificationList" data-init="app.userReplyNotificationList.init" data-show="app.userReplyNotificationList.show">
    <div data-role="header">
        <div data-role="navbar">
            <span id="navBarAdminHeader">Notification</span>
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="backbutton"></a>
            <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callAdminOrganisationList"></a>

            <!--<a style="width: 3.5em;height:3.5em;margin-top:-.5px; border: 0 none;  background-position: 0 50%;background-color: transparent;" data-align="left" data-role="backbutton"><img src="styles/images/icon-arrow_left.png " style="background-position: .65em 50%;width:100%;height:90%"/></a>-->
        </div>
    </div>

    <div class="loader" id="loaderReplyNoti" style="display:none;margin-top:50%">
        <div class="ball"></div>
        <!--<div class="loading1">Loading...</div>-->
    </div>

    <div>
        <ul id="userReply-notification-listview" data-style="inset" data-role="listview" data-template="userReplyNotificationTemplate" data-pull-to-refresh="true" data-bind="source: activities"></ul>
        <p id="no-activities-span" hidden="hidden" class="no-items-msg">
            <b>You have no Notification for you.</b>
        </p>
    </div>
</div>

<script type="text/x-kendo-template" id="userReplyNotificationTemplate">
    <div class="cf" data-role="touch" data-bind="events: { tap: adminReplyNotiSelect }">

        <!--<div class="user-avatar">    
        <img src="styles/images/notification1.png" />
        </div>-->

        <div class="activity-content" style="background-color:rgb(253,255,133);padding:10px;border-radius:6px;" >
            <h2 id="activityTemplateTitle" class="orgNameList" style="margin-left:-3px; color:rgb(107,111,116);" >${title}</h2>
            #if (org_id!=='0') {#
                <span id="activityTemplateDate" class="time-span" style="padding-right:2px;">${CreatedAtFormatted()}</span>
            #}#
            <img src="styles/images/arrow.png" style="float:left;margin-left:-19px;"/>
            <a id="activityTemplateMessage" class="orgContentMsg" style="color:rgb(188,188,188);" >${message}</a>
        </div>
    </div>
</script>

