<div data-role="view" data-layout="default" class="activities-view" data-model="app.registration">

    <div data-role="header">
        <div data-role="navbar">
            Registration
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton"></a>
            <a class="nav-button nav-button-add hide-text" data-align="right" data-role="button" data-bind="click: clearSelectOrganisation"></a>
        </div>
    </div>

    <div id="selectionDiv">
        <div>
            <ul class="outerSelect">
                <li class="parentView">
                    <img src="styles/images/habicon.png" height="42" width="42"  style="margin-left:-25px ;">
                    <!-- <select data-role="dropdownlist" data-bind="source: organisationData, value: organisationInit" data-text-field="name"  data-value-field="value" ></select> -->
                    <input id="selectOrgData" />
                </li>
                
                <li class="parentView">
                    <img src="styles/images/group.png" height="42" width="42" style="margin-left:-25px ;">
                    <!--<select data-role="dropdownlist" data-bind="source: groupData, value: groupInit" data-text-field="name"  data-value-field="value" ></select>-->
                    <input id="selectGroupData" />
                </li>
            </ul>
        </div>

        <ol class="reg-group-wrp" id="regDoneButton">
            <li>
                <span id="registration" data-role="touch" style="float:right;margin-left:10px;" data-bind="events: { tap: clickforRegenerateCode }">
                    <a data-role="button" style="background-color:#33539E">Done</a>
                </span>
            </li>
        </ol>
    </div>

    <script type="text/javascript">

        $(document).ready(function() {
            // create ComboBox from input HTML element
            /*    $("#selectOrgData").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
            { text: "Sakshay", value: "Sakshay" },
            { text: "Infosys", value: "Infosys" },
            { text: "TCS", value: "TCS" },
            { text: "Wipro", value: "Wipro" }
            ],
            filter: "contains",
            suggest: true
            //index: 0
            });*/
            /*          var organisationDS = new kendo.data.DataSource({
            transport: {
            type: "json",
            serverFiltering: true,
            read: {
            url: "http://54.85.208.215/webservice/organisation/getOrg",  //Note the URL path!
            dataType: "json",
            type: 'POST'
            }
            },
            schema: {
            model: {
            fields: {
            pid: { type: "number" },
            org_name: { type: "string" }
            }
            }
            }
            });
            var data = organisationDS.read();
            console.log(data);
            /*var checkingDS = [
            { org_name: 'countryName' , pid :'1' },
            { org_name: 'name' , pid :'2' },
            { org_name: 'population' , pid :'3' },
            { org_name: 'continentCode' , pid :'4' }
            ];*/
            //  var DSCheck = {"status":[{"orgData":[{"pid":"1","org_name":"Sakshay1","org_email":"ravi@chamri1a.com","org_ph":"1234567890","org_url":"http:\/\/www.sakshay.in","org_location":null,"org_logo":null,"org_industry":"0","org_desc":"","org_status":"A","addDT":"2014-07-09","last_modified_dt":"2014-07-29 15:35:38"},{"pid":"2","org_name":"Airtel","org_email":"airtel@airtel.com","org_ph":"9312934547","org_url":"www.airtel.com","org_location":null,"org_logo":null,"org_industry":"0","org_desc":"My Description","org_status":"A","addDT":"2014-07-29","last_modified_dt":"2014-07-30 17:26:37"},{"pid":"3","org_name":"IDEA Cellular","org_email":"idea@cellular.com","org_ph":"9911991199","org_url":"www.ideacellular.com","org_location":null,"org_logo":null,"org_industry":"0","org_desc":"dfsfsdfds","org_status":"A","addDT":"2014-07-30","last_modified_dt":"2014-07-30 17:12:14"}]}]};
            /*         var DSCheck = [{"pid":"1","org_name":"Sakshay1","org_email":"ravi@chamri1a.com","org_ph":"1234567890","org_url":"http:\/\/www.sakshay.in","org_location":null,"org_logo":null,"org_industry":"0","org_desc":"","org_status":"A","addDT":"2014-07-09","last_modified_dt":"2014-07-29 15:35:38"},{"pid":"2","org_name":"Airtel","org_email":"airtel@airtel.com","org_ph":"9312934547","org_url":"www.airtel.com","org_location":null,"org_logo":null,"org_industry":"0","org_desc":"My Description","org_status":"A","addDT":"2014-07-29","last_modified_dt":"2014-07-30 17:26:37"},{"pid":"3","org_name":"IDEA Cellular","org_email":"idea@cellular.com","org_ph":"9911991199","org_url":"www.ideacellular.com","org_location":null,"org_logo":null,"org_industry":"0","org_desc":"dfsfsdfds","org_status":"A","addDT":"2014-07-30","last_modified_dt":"2014-07-30 17:12:14"}];
            $("#selectOrgData").kendoComboBox({
            placeholder: "Select Organisation",
            dataTextField: "org_name",
            dataValueField: "pid",
            dataSource: DSCheck,
            change: onChangeOrganisation
            });         
            $("#selectGroupData").kendoComboBox({
            placeholder: "Select Group"
            });
            */      
            $("#selectGroupData").kendoComboBox({
                                                    placeholder: "Select Group"
                                                });
        
            $("#selectOrgData").kendoComboBox({
                                                  placeholder: "Select Organisation",
                                                  dataTextField: "org_name", 
                                                  dataValueField: "pid ", 
                                                  dataSource: {
                    serverFiltering: true,
                    type: "json",
                    transport: {
                                                              read: "http://54.85.208.215/webservice/organisation/getOrg"
                                                          },
                    schema: {
                                                              data: function(response) {
                                                                  console.log(response);
                                                        
                                                                  var dropDownListData = [];
                                                                  $.each(response, function(i, country) {
                                                                      var orgLength = country[0].orgData.length;
                                                                      for (var j = 0;j < orgLength;j++) {
                                                                          dropDownListData.push({
                                                                                                    pid: country[0].orgData[j].pid,
                                                                                                    org_name: country[0].orgData[j].org_name
                                                                                                });
                                                                      }
                                                                  });
                                                                  return dropDownListData;
                                                              }
                                                          },
                },
                                                  change: function() {
                                                      var selectedVal = this.value();
                                                      onChangeOrganisation(selectedVal);
                                                  }
                  
                                              });
        
            var onChangeOrganisation = function(e) {
                console.log(e);
                //var selectData = $("#selectGroupData").data("kendoComboBox");    
                //var orgSelected = selectData.value();
        
                $("#selectGroupData").kendoComboBox({
                                                        placeholder: "Select Group",
                                                        dataTextField: "group_name", 
                                                        dataValueField: "pid ", 
                                                        dataSource: {
                        serverFiltering: true,
                        type: "json",
                        transport: {
                                                                    read: "http://54.85.208.215/webservice/group/getGroupByOrgID/" + e,
                                                                },
                        template: "<input type='checkbox' id='chk_fabric_#=data.DataValue #' onclick='UpdateIdinHF(this);' value='#=data.DataValue #' name='fabric' />" + " " + "${ data.DataText }", 
                        schema: {
                                                                    data: function(response) {
                                                                        console.log(response);
                                                        
                                                                        var dropDownListData = [];
                                                                        $.each(response, function(i, country) {
                                                                            var orgLength = country[0].grpData.length;
                                                                            for (var j = 0;j < orgLength;j++) {
                                                                                dropDownListData.push({
                                                                                                          pid: country[0].grpData[j].pid,
                                                                                                          group_name: country[0].grpData[j].group_name
                                                                                                      });
                                                                            }
                                                                        });
                                                                        return dropDownListData;
                                                                    }
                                                                },
                    }                  
                                                    });
            };
            /*
            $("#selectGroupData").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
            { text: "Developer", value: "Developer" },
            { text: "Sales", value: "Sales" },
            { text: "Testing", value: "Testing" },
            { text: "R&D", value: "R&D" }
            ],
            filter: "contains",
            suggest: true
            //index: 0
            });
            */
        });    
        /*var selectOrgModel = kendo.observable({      
        
        organisationData: [{ name: "Sakshay", value: "Sakshay"}, { name: "Infosys", value: "Infosys"}, { name: "TCS", value: "TCS" }],
        
        groupData :[{name:"IT" , value:"IT"} , {name:"Government" , value:"Government" }, {name:"Sales",value="Sales" },{name="Developer",value="Developer"}],
        
        
        organisationInit="Select Organisation",
        
        groupInit="Select Group"
        });
        kendo.bind($('#selectOrg'), selectOrgModel, kendo.mobile.ui);
        */

        
    </script>
        
</div>
        
        