<div data-role="view" id="newsList" data-id="innerActivity" data-layout="default" data-reload="true" class="activities-view-info" data-model="app.orgNews" data-show ="app.orgNews.show">
    <div data-role="header" style="border-bottom:2px solid #BABBBF">         
              <div data-role="navbar">     
                 <span>Organization News</span>
                 <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.orgNews.gobackOrgPage"></a>    
                 <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callUserLogin"></a>
              </div>                                          
    </div>
    
            <div class="loader" id="newsLoader" style="display:none;">
                      <div class="ball"></div>
            </div>

    <span id="orgNewsList" data-style="inset" data-role="listview" data-template="orgNewsTemplate"   data-bind="source: activities"></span>
    
    <div id="showMoreNewsBtn" class="showMore" data-role="button" data-click="app.orgNews.showMoreButtonPress">LOAD MORE</div>
</div>

<!--<div style="margin:-2px -6px -6px -6px;">-->

		<script type="text/x-kendo-template" id="orgNewsTemplate">
            <div class="cf">         
             <div class="newsList-content-new">
                 #if(id!==0){#
                    <div class="dateDisplay">
                        <span id="activityTemplateDate" class="dateValue">${news_date} ${news_time}</span>
                        <span></span>
                    </div>           
                <br/>
                <br/>
            
                <a id="activityTemplateMessage" class="orgContentMsg">#= news_desc #</a>            			                        
                  #if (news_image!=='' && news_image!==0 && upload_type==="image") {#
                    <br/>                    
                    <br/>                    
 
                     <a data-role="button" data-click="app.orgNews.imageDownlaodClick" data-imgPath=${news_image} data-notiid=${id} style="width:100%;padding:0px;background:transparent;border:none;">                       
                          <img src= ${news_image} style="width:100%;"/>    
                     </a>
                     
                     <br/>
                     
                     <div id="img_Div_Image_${id}" style="display:none;color:rgb(87,167,12);">
                        Downloading...
                     </div>
                      
 
                  #}else if (news_image!=='' && news_image!=='0' && upload_type==="video"){#          
                     <br/>
                     <br/>
                     
                       <a data-role="button" data-click="app.orgNews.videoDownlaodClick" data-someAttribute=${news_image} data-notiid=${id}>
                            <div>
                                 <img src="styles/images/videoPlayIcon.png" style="max-height:200px;max-width:230px;"/>                   
                            </div>
                       </a>   
                       <br/>
                            
                        <div id="video_Div_Image_${id}" style="display:none;color:rgb(87,167,12);">
                            Downloading...
                        </div>
                        

                   #}#            
                #}else{#   

	                     <div>
                           <div id="activityTemplateTitle" class="HeadingClass" >${news_name}</div> 
              		     <span  id="activityTemplateMessage"  style="color:rgb(147,147,147);padding-right:10px;text-align:justify;" >${news_desc}</span>            			                 
                         </div>
                #}#
            </div>   
          </div> 
                
		</script>