<div data-role="view" id="attendancePage" data-id="innerActivity" data-layout="innerPages"  class="activities-view" data-model="app.attendance" data-init="app.attendance.attendanceInit" data-show ="app.attendance.attendanceShow">
    <div data-role="header">
        <div data-role="navbar">
            Mark Attendance
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.attendance.backToOrgDetail"></a>
            <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callAdminOrganisationList"></a>
        </div>
    </div>

    <div>
        <div class="loader" id="progressAdminAttendance" style="display:block;">
            <div class="ball"></div>
        </div>
        
        <!--<ul id="attendance-listview" data-style="inset" data-role="listview" style="border:none"></ul>-->
        
        <ul  id="attendance-listview" class="ulClassCheck" data-role="listview" data-bind="source: attendance" ></ul>

        <!--<div id="example">
            <div id="attendance-listview" class="ulClassCheck" style="border:none;padding:10px;" data-template="attendanceTemplate" data-filterable="{field: 'first_name', operator: 'startswith', placeholder: 'Search'}"></div>
        </div>-->
    </div>

   <div id="attendanceFooter" data-role="footer" style="padding-bottom:10px;background:#ffffff">
         <ol class="reg-group-wrp" style="margin-top:10px">
              <li style="width:100%">
                   <span id="adminAddMember" class="clickEffect" data-role="touch" data-bind="events: { tap: markAsAbsent }" style="float:left;margin;width:46%;padding-top:10px;height:40px;background-color:#303645;color:#ffffff;border-radius:3px;" > Mark As Absent </span>
                   <span id="adminRemoveMember" class="clickEffect" data-role="touch" data-bind="events: { tap: markAsPresent }"  style="float:right;height:40px;padding-top:10px;width:46%;background-color:#7FBF4D;color:#ffffff;border-radius:3px;" >Mark As Present</span>
              </li>
         </ol>
   </div>
</div>

<!---->

  <script type="text/x-kendo-template" id="attendanceTemplate"> 
    #$(".ulClassCheck").removeClass("km-list");#  
      
     #if(orgID!=='0'){#  
        <div class="deleteGroupShow">
            <label>
                <input type="checkbox" class="largerCheckbox" value="${customerID}" data-bind="checked:check"/> #:first_name#  #:last_name#
            </label>
        </div> 
   #}else{#    
       <div class="cf">
        <div class="user-avatar-img-show"></div>
        <div class="activity-content" >
            <h2 id="" style="color:rgb(127,191,77);margin:5px 0px;">${email}</h2>
        </div>
       </div>        
    #}#
  </script>