<div data-role="view" id="adminDeleteGroup" data-id="innerActivity" data-layout="innerPages" class="activities-view" data-model="app.GroupList" data-init="app.GroupList.init" data-show="app.GroupList.showGroup">
    <div data-role="header">
        <div data-role="navbar">
            Delete Groups
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.GroupList.goToGroupList"></a>
            <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callAdminOrganisationList"></a>
        </div>
    </div>
    
    <div class="loader" id="deleteGroupLoader" style="display:none;">
            <div class="ball"></div>
    </div>

    <div id="example">
        <ul id="deleteGroupData" data-template="Group-Delete-template" style="border:none;padding:10px;" ></ul>
    </div> 
    
    <li class="defineSaveButton" data-role="touch" data-bind="events: { tap: deleteGroupFunc }">
        Delete Group
    </li>
</div>

<script id="Group-Delete-template" type="text/x-kendo-template">
    <li class="deleteGroupShow">
        <label >
            <input type="checkbox" name="chkValue" value="${groupID}" /> ${groupName}
        </label>
    </li>
</script>
