<div data-role="view" id="addMemberToGroup" data-id="innerActivity" data-layout="innerPages" class="activities-view" data-model="app.groupDetail" data-show="app.groupDetail.addNemMember">
    <div data-role="header">
        <div data-role="navbar">
            Add Members To Organization
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="backbutton"></a>
            <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callAdminOrganisationList"></a>
        </div>
    </div>

    <div id="example">
        <ul id="addMemberData" data-template="Member-Add-template" style="border:none;padding:10px;" ></ul>
    </div>

    <li class="defineSaveButton" data-role="touch" data-bind="events: { tap: addMemberToGroupFunc }">
        Add
    </li>
</div>



<script id="Member-Add-template" type="text/x-kendo-template">
    <li class="deleteGroupShow">
        <label >
            <input type="checkbox" class="largerCheckbox" value="${customerID}" />${first_name} ${last_name}
        </label>
    </li>	       
</script>



<div data-role="view" id="updateGroupInfo" data-id="innerActivity" data-layout="innerPages" class="activities-view" data-model="app.groupDetail" >
    <div data-role="header">
        <div data-role="navbar">
            Update Ogranization
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="backbutton"></a>
            <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callAdminOrganisationList"></a>
        </div>
    </div>

    <div id="enterNotification" class="textWithTextArea">


        <input type="text"  id="editOrgName" class="defineTextBox"  placeholder="Enter New Organization Name" />
            <br/>
            <br/>
                   <textarea  id="editOrgDesc" placeholder="Write Organization description here (Optional) ?" class="common"></textarea> 
            <br/>
            <br/>


    </div>

    <li class="defineSaveButton" data-role="touch" data-bind="events: { tap: saveUpdatedGroupVal }">
        Save
    </li>
</div>

