<div data-role="view" id="userOrgManage" data-id="innerActivity" data-reload="true" class="activities-view"  data-model="app.OragnisationList"  data-show ="app.OragnisationList.showOrgInfoPage">

    <div data-role="header" style="border-bottom:2px solid #BABBBF">
        <div data-role="navbar">
            <span id="navBarOrgHeader">Organization</span>
            <a style="background:transparent; border:none;" data-icon="camera" data-align="left" data-role="button" data-click="app.OragnisationList.orgDescMainPage"></a>
            <a style="background:transparent; border:none;" data-icon="printer" data-align="right" data-role="button" data-click="app.callUserLogin"></a>
        </div>
    </div>
    
    <div class="loader" id="leaveOrganization" style="display:none;margin">
                      <div class="ball"></div>
    </div>

    <div style="z-index: 100;">
        <ul id="manageOrgDesc" data-style="inset" data-role="listview" style="background-color: white;z-index: 100;">

            <div id="organisationLogo" class="backgroundImgShow" style="width:100%;"></div>
            
            <div id="OrgDescData" style="color:#838383;margin-top:20px;"></div>
            
            <div style="color:#B0D695;margin-top:20px;" id="joinedDate">
                Joined On : <span style="color:#838383" id="orgJoinData"></span>
            </div>
        </ul>
    </div>

    <div>
        <table style="margin:10px;">
            <tr>
                <td class="manageOrgDiv" data-role="touch" data-bind="events: { tap: showOrgNews }">
                    <div id="show-news-icon"></div>
                    News Feed
                </td>
                <td style="width:10px;"></td>
                <td class="manageOrgDiv" data-role="touch" data-bind="events: { tap: showCalendar }">
                    <div id="show-calander-icon"></div>
                    Events
                </td>
            </tr>
        </table>

    </div>

    <li id="manageOrgFooter" class="defineSaveButton" style="margin-top:10%;" data-role="touch" data-bind="events: { tap: unsubscribeOrg }">
        Leave Organization
    </li>

    <!--<div data-role="footer">
        <div id="manageOrgFooter" data-role="tabstrip" data-selected-index="2">
            <a id="" data-icon="trash" data-role="button" data-bind="click: unsubscribeOrg" >Click here to unsubscribe</a>
        </div>
    </div>-->

</div>
