<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.sakshay.aptifi.SmsListener"
        version="1.0.0">

  <name>SmsListener</name>

  <description>
	The Plugin show received message as toast
  </description>



  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>


  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SmsListener">
        <param name="android-package" value="com.sakshay.aptifi.SmsListener" />
      </feature>
    </config-file>

    <source-file src="src/android/com/sakshay/aptifi/SmsListener.java" target-dir="src/com/sakshay/aptifi"/>
  </platform>


</plugin>
